<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dic_bgmselect_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{574,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,124}}</string>
                <key>sourceSize</key>
                <string>{574,124}</string>
            </dict>
            <key>dic_bgmselect_button_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,165},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dic_bgmselect_button_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,227},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dic_bgmselect_button_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,427},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dic_bgmselect_button_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,427},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dic_center_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>dic_center_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>dic_libra_big_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dic_libra_mini_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,427},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>dic_libra_mini_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,427},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>dic_main_grad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{640,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,8}}</string>
                <key>sourceSize</key>
                <string>{640,8}</string>
            </dict>
            <key>dic_monster_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,289},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>dic_monster_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,289},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>dic_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>dic_no_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,115},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>dic_no_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,535},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>dic_summon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>dic_text_grad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,429},{640,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,8}}</string>
                <key>sourceSize</key>
                <string>{640,8}</string>
            </dict>
            <key>dic_textcover.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1},{8,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,384}}</string>
                <key>sourceSize</key>
                <string>{8,384}</string>
            </dict>
            <key>dic_totalkillnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,535},{96,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{96,16}</string>
            </dict>
            <key>dic_unit_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>dic_unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>largebutton_label_dic_ability.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,439},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_gallery.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,439},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,481},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,523},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_recipe.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,493},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,163},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,205},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_dic_visioncard.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,247},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>middlebutton_label_sizereset.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,439},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>minibutton_label_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,115},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dictionary.png</string>
            <key>size</key>
            <string>{928,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c47b122f043a223b42ba7d9086f6c300:eb5ca750725030e8f24de5c4e0ebdeda:93756c5e47a710655c9992b70c21752c$</string>
            <key>textureFileName</key>
            <string>dictionary.png</string>
        </dict>
    </dict>
</plist>
