<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_btn_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,105},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>friend_btn_mini2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,163},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>friend_commentedit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,503},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>friend_commentedit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,553},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>friend_favostar.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,329},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>friend_giftballoonmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,965},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>friend_greenbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1263},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>friend_greenbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1567},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>friend_icon_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,329},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>friend_mycomment.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1167},{280,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,168}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>friend_mygiftballoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1383},{228,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,156}}</string>
                <key>sourceSize</key>
                <string>{228,156}</string>
            </dict>
            <key>friend_mygiftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{624,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,232}}</string>
                <key>sourceSize</key>
                <string>{624,232}</string>
            </dict>
            <key>friend_mygiftset_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,387},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>friend_mygiftset_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,445},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>friend_mynamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1533},{184,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,32}}</string>
                <key>sourceSize</key>
                <string>{184,32}</string>
            </dict>
            <key>friend_performance_battle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1305},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_performance_battle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1337},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_performance_summons1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1383},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_performance_summons2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1403},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_performance_training1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1435},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_performance_training2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1501},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>friend_support_enemy1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1637},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>friend_support_enemy2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1637},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>friend_support_event1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1637},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>friend_support_event2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1684},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>friend_support_favorite.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1731},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>friend_support_functionalrestriction.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,849},{112,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,270}}</string>
                <key>sourceSize</key>
                <string>{112,270}</string>
            </dict>
            <key>friendlist_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>friendlist_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,589},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>green_button_label_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1687},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>green_button_label_give.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1599},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>largebutton_label_addfavo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1337},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_deletefavo.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1221},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_deletefriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1221},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_friendfbinvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,107},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,213},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendperformance.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,319},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendrecommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,425},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendrequest.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,531},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendsearch.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,637},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_friendshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,743},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,849},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_norequest.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1263},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_playerperformance.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,955},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_support.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1061},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_square_icon_friendFbinvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1549},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1541},{180,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,116}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>largebutton_square_icon_friendList.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1637},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendLv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1659},{180,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,116}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>largebutton_square_icon_friendRecommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1599},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendRequest.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1684},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendSearch.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1684},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1684},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_friendSupport.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1481},{180,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,116}}</string>
                <key>sourceSize</key>
                <string>{180,116}</string>
            </dict>
            <key>middlebutton_label_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,221},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_give.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,275},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1725},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>minibutton_label_friendapprove.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_frienddelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,27},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_friendgift_getall.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,53},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_friendgift_giveall.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,79},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>playerinfo_comment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,965},{504,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,126}}</string>
                <key>sourceSize</key>
                <string>{504,126}</string>
            </dict>
            <key>playerinfo_comment_notail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1093},{504,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,126}}</string>
                <key>sourceSize</key>
                <string>{504,126}</string>
            </dict>
            <key>playerinfo_comment_notail_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{634,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,182}}</string>
                <key>sourceSize</key>
                <string>{634,182}</string>
            </dict>
            <key>playerinfo_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1337},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>playerinfo_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1443},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>playerinfo_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,883},{598,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,80}}</string>
                <key>sourceSize</key>
                <string>{598,80}</string>
            </dict>
            <key>playerinfo_unitstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,759},{598,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,122}}</string>
                <key>sourceSize</key>
                <string>{598,122}</string>
            </dict>
            <key>visioncard_nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1121},{192,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,260}}</string>
                <key>sourceSize</key>
                <string>{192,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1012,1778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5312982af5d557d6509f7a83698bdd7e:1b59276f8f7bcdd7900b95a5d137f0ee:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
