<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emblem_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{644,2},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_bar_bkgradation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,26}</string>
                <key>spriteSourceSize</key>
                <string>{584,26}</string>
                <key>textureRect</key>
                <string>{{2,318},{584,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_bar_hamburgerbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{758,2},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_bar_roundedcorners.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,48}</string>
                <key>spriteSourceSize</key>
                <string>{552,48}</string>
                <key>textureRect</key>
                <string>{{2,346},{552,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_gauge_bar_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,4}</string>
                <key>spriteSourceSize</key>
                <string>{10,4}</string>
                <key>textureRect</key>
                <string>{{556,346},{10,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_gauge_bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,4}</string>
                <key>spriteSourceSize</key>
                <string>{10,4}</string>
                <key>textureRect</key>
                <string>{{568,346},{10,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_gauge_bar_lightblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,4}</string>
                <key>spriteSourceSize</key>
                <string>{10,4}</string>
                <key>textureRect</key>
                <string>{{556,352},{10,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_menu_btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{758,88},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_menu_btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{496,426},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_header_icon_add-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{769,261},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_header_icon_add-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{758,52},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_exp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,22}</string>
                <key>spriteSourceSize</key>
                <string>{196,22}</string>
                <key>textureRect</key>
                <string>{{588,318},{196,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_exp_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{748,396},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_exp_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,28}</string>
                <key>spriteSourceSize</key>
                <string>{250,28}</string>
                <key>textureRect</key>
                <string>{{556,366},{250,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_header2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,60}</string>
                <key>spriteSourceSize</key>
                <string>{492,60}</string>
                <key>textureRect</key>
                <string>{{2,396},{492,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_header_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,140}</string>
                <key>spriteSourceSize</key>
                <string>{640,140}</string>
                <key>textureRect</key>
                <string>{{2,164},{640,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_header_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,160}</string>
                <key>spriteSourceSize</key>
                <string>{640,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_header_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,10}</string>
                <key>spriteSourceSize</key>
                <string>{640,10}</string>
                <key>textureRect</key>
                <string>{{2,306},{640,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_icon_mail3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{644,116},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_icon_mail4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{644,178},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_icon_menu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{720,116},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_icon_menu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{720,178},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_rankup_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,19}</string>
                <key>spriteSourceSize</key>
                <string>{149,19}</string>
                <key>textureRect</key>
                <string>{{644,240},{149,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_stamina_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,22}</string>
                <key>spriteSourceSize</key>
                <string>{196,22}</string>
                <key>textureRect</key>
                <string>{{588,342},{196,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_stamina_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,19}</string>
                <key>spriteSourceSize</key>
                <string>{123,19}</string>
                <key>textureRect</key>
                <string>{{644,261},{123,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_stamina_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,28}</string>
                <key>spriteSourceSize</key>
                <string>{250,28}</string>
                <key>textureRect</key>
                <string>{{496,396},{250,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_stamina_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,19}</string>
                <key>spriteSourceSize</key>
                <string>{92,19}</string>
                <key>textureRect</key>
                <string>{{644,282},{92,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>header.png</string>
            <key>size</key>
            <string>{818,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd88ec98d0002af2a7b41f69e113ef1f:adc690c8517353a9f6718b4cd7198600:aaaa36553a50debc39c19fce91c74f7f$</string>
            <key>textureFileName</key>
            <string>header.png</string>
        </dict>
    </dict>
</plist>
