<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ability_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,35},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>friend_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,87},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>friendlv_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{480,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,136}}</string>
                <key>sourceSize</key>
                <string>{480,136}</string>
            </dict>
            <key>friendlv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,833},{468,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,24}}</string>
                <key>sourceSize</key>
                <string>{468,24}</string>
            </dict>
            <key>friendlv_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>friendlv_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,312}}</string>
                <key>sourceSize</key>
                <string>{640,312}</string>
            </dict>
            <key>friendlv_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,191},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>friendlv_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,859},{468,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,24}}</string>
                <key>sourceSize</key>
                <string>{468,24}</string>
            </dict>
            <key>friendlv_exevo_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,139},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>friendlv_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,885},{468,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,24}}</string>
                <key>sourceSize</key>
                <string>{468,24}</string>
            </dict>
            <key>friendlv_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,751},{496,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,80}}</string>
                <key>sourceSize</key>
                <string>{496,80}</string>
            </dict>
            <key>friendlv_gaugebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{640,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,152}}</string>
                <key>sourceSize</key>
                <string>{640,152}</string>
            </dict>
            <key>friendlv_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>friendlv_lvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,211},{160,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,136}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>friendlv_moogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{216,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,208}}</string>
                <key>sourceSize</key>
                <string>{216,208}</string>
            </dict>
            <key>friendlv_num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,211},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,225},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,245},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,225},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,225},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,259},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,279},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,259},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,259},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,293},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,313},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>friendlv_resultbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{640,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,280}}</string>
                <key>sourceSize</key>
                <string>{640,280}</string>
            </dict>
            <key>friendlv_resultlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{544,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,40}}</string>
                <key>sourceSize</key>
                <string>{544,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friendlv.png</string>
            <key>size</key>
            <string>{980,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:210af605deea2e7772f448d87933d9b7:70fe27a1aaacbf95edbf4ee0497c3fc8:a6437d4c541aa198d3da249eece6d328$</string>
            <key>textureFileName</key>
            <string>friendlv.png</string>
        </dict>
    </dict>
</plist>
