<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,48}</string>
                <key>textureRect</key>
                <string>{{1072,960},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1628,300},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1816,2},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_banner_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,112}</string>
                <key>textureRect</key>
                <string>{{608,800},{640,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_base_count_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,32}</string>
                <key>spriteSourceSize</key>
                <string>{160,32}</string>
                <key>textureRect</key>
                <string>{{1764,958},{160,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bn_lock_openlabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,46}</string>
                <key>spriteSourceSize</key>
                <string>{340,46}</string>
                <key>textureRect</key>
                <string>{{1286,300},{340,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,24}</string>
                <key>spriteSourceSize</key>
                <string>{424,24}</string>
                <key>textureRect</key>
                <string>{{2,998},{424,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,180}</string>
                <key>spriteSourceSize</key>
                <string>{604,180}</string>
                <key>textureRect</key>
                <string>{{2,588},{604,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_gaugebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,24}</string>
                <key>spriteSourceSize</key>
                <string>{424,24}</string>
                <key>textureRect</key>
                <string>{{1498,448},{424,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,38}</string>
                <key>spriteSourceSize</key>
                <string>{596,38}</string>
                <key>textureRect</key>
                <string>{{1250,918},{596,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,54}</string>
                <key>spriteSourceSize</key>
                <string>{554,54}</string>
                <key>textureRect</key>
                <string>{{2,924},{554,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_value_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{1712,126},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_value_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{1734,278},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_value_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{1286,454},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_bonus_valuebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,152}</string>
                <key>spriteSourceSize</key>
                <string>{604,152}</string>
                <key>textureRect</key>
                <string>{{2,770},{604,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_departbg_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,516}</string>
                <key>spriteSourceSize</key>
                <string>{640,516}</string>
                <key>textureRect</key>
                <string>{{644,2},{640,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_departbg_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,584}</string>
                <key>spriteSourceSize</key>
                <string>{640,584}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_listlabel_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,94}</string>
                <key>spriteSourceSize</key>
                <string>{640,94}</string>
                <key>textureRect</key>
                <string>{{1250,822},{640,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_lock_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,152}</string>
                <key>textureRect</key>
                <string>{{644,520},{640,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_mogballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,122}</string>
                <key>spriteSourceSize</key>
                <string>{528,122}</string>
                <key>textureRect</key>
                <string>{{1286,2},{528,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1748,364},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1722,540},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1722,602},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1722,664},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1722,726},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_party5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1286,540},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_period_extension.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,24}</string>
                <key>textureRect</key>
                <string>{{428,998},{100,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_place.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1474,540},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_remainingtime_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,58}</string>
                <key>spriteSourceSize</key>
                <string>{422,58}</string>
                <key>textureRect</key>
                <string>{{1286,240},{422,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_result_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,28}</string>
                <key>spriteSourceSize</key>
                <string>{154,28}</string>
                <key>textureRect</key>
                <string>{{1764,992},{154,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_start_comment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,146}</string>
                <key>textureRect</key>
                <string>{{1250,674},{470,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{1286,602},{186,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,112}</string>
                <key>spriteSourceSize</key>
                <string>{424,112}</string>
                <key>textureRect</key>
                <string>{{1286,126},{424,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_txt_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,44}</string>
                <key>spriteSourceSize</key>
                <string>{640,44}</string>
                <key>textureRect</key>
                <string>{{608,914},{640,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_txt_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,124}</string>
                <key>spriteSourceSize</key>
                <string>{640,124}</string>
                <key>textureRect</key>
                <string>{{608,674},{640,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_txt_exploring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{194,64}</string>
                <key>textureRect</key>
                <string>{{1478,474},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_txt_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{194,64}</string>
                <key>textureRect</key>
                <string>{{1674,474},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explore_txt_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,64}</string>
                <key>spriteSourceSize</key>
                <string>{214,64}</string>
                <key>textureRect</key>
                <string>{{1712,212},{214,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exploring_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,16}</string>
                <key>spriteSourceSize</key>
                <string>{484,16}</string>
                <key>textureRect</key>
                <string>{{2,980},{484,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exploring_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,40}</string>
                <key>textureRect</key>
                <string>{{1250,958},{512,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exploring_gaugebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,40}</string>
                <key>textureRect</key>
                <string>{{558,960},{512,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_explore_departure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{1498,406},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1286,348},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1392,348},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explore.png</string>
            <key>size</key>
            <string>{1936,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb9cd77cb50ad07529ba50e8504d0acb:5801665fb68af138a315919493ee2399:d97f9d59fb27fde2bceebe7eb3271a7c$</string>
            <key>textureFileName</key>
            <string>explore.png</string>
        </dict>
    </dict>
</plist>
