<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button_middle_growequipment1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{404,124}</string>
				<key>spriteSourceSize</key>
				<string>{404,124}</string>
				<key>textureRect</key>
				<string>{{621,1154},{404,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button_middle_growequipment2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{404,124}</string>
				<key>spriteSourceSize</key>
				<string>{404,124}</string>
				<key>textureRect</key>
				<string>{{1282,0},{404,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_ability_bg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,340}</string>
				<key>spriteSourceSize</key>
				<string>{640,340}</string>
				<key>textureRect</key>
				<string>{{0,0},{640,340}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_ability_new.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,46}</string>
				<key>spriteSourceSize</key>
				<string>{88,46}</string>
				<key>textureRect</key>
				<string>{{113,1458},{88,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_abilitybg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,339}</string>
				<key>spriteSourceSize</key>
				<string>{640,339}</string>
				<key>textureRect</key>
				<string>{{0,341},{640,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_acquire.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,26}</string>
				<key>spriteSourceSize</key>
				<string>{64,26}</string>
				<key>textureRect</key>
				<string>{{1241,909},{64,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_arrow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,154}</string>
				<key>spriteSourceSize</key>
				<string>{112,154}</string>
				<key>textureRect</key>
				<string>{{0,1353},{112,154}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_base_number_of_materials.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{226,36}</string>
				<key>spriteSourceSize</key>
				<string>{226,36}</string>
				<key>textureRect</key>
				<string>{{1102,1117},{226,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_breakthrough_large.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,28}</string>
				<key>spriteSourceSize</key>
				<string>{68,28}</string>
				<key>textureRect</key>
				<string>{{1612,1267},{68,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_btntarget.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{78,38}</string>
				<key>spriteSourceSize</key>
				<string>{78,38}</string>
				<key>textureRect</key>
				<string>{{1608,1024},{78,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_depart1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1026,1154},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_depart2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1142,996},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_select_eg1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1331,1117},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_select_eg2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1282,431},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_to_battle1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1282,552},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_button_to_battle2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{304,120}</string>
				<key>spriteSourceSize</key>
				<string>{304,120}</string>
				<key>textureRect</key>
				<string>{{1282,673},{304,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_character.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,123}</string>
				<key>spriteSourceSize</key>
				<string>{179,123}</string>
				<key>textureRect</key>
				<string>{{1502,794},{179,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_chooseability_bg_top.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,184}</string>
				<key>spriteSourceSize</key>
				<string>{640,184}</string>
				<key>textureRect</key>
				<string>{{641,0},{640,184}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_difficulty_large.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,28}</string>
				<key>spriteSourceSize</key>
				<string>{68,28}</string>
				<key>textureRect</key>
				<string>{{1608,1063},{68,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_difficulty.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,24}</string>
				<key>spriteSourceSize</key>
				<string>{58,24}</string>
				<key>textureRect</key>
				<string>{{1624,918},{58,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_dungeonname_frame.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{520,58}</string>
				<key>spriteSourceSize</key>
				<string>{520,58}</string>
				<key>textureRect</key>
				<string>{{621,996},{520,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_equipmentname_bg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,76}</string>
				<key>spriteSourceSize</key>
				<string>{640,76}</string>
				<key>textureRect</key>
				<string>{{641,185},{640,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_floor.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,24}</string>
				<key>spriteSourceSize</key>
				<string>{64,24}</string>
				<key>textureRect</key>
				<string>{{1608,1092},{64,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_frame_big.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,288}</string>
				<key>spriteSourceSize</key>
				<string>{640,288}</string>
				<key>textureRect</key>
				<string>{{641,262},{640,288}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_frame_small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{629,179}</string>
				<key>spriteSourceSize</key>
				<string>{629,179}</string>
				<key>textureRect</key>
				<string>{{0,766},{629,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_getcoin.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{300,34}</string>
				<key>spriteSourceSize</key>
				<string>{300,34}</string>
				<key>textureRect</key>
				<string>{{1156,951},{300,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_growable_frame.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{610,184}</string>
				<key>spriteSourceSize</key>
				<string>{610,184}</string>
				<key>textureRect</key>
				<string>{{630,766},{610,184}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_iconlabel_event.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,26}</string>
				<key>spriteSourceSize</key>
				<string>{80,26}</string>
				<key>textureRect</key>
				<string>{{159,1292},{80,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_mission_line.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{418,4}</string>
				<key>spriteSourceSize</key>
				<string>{418,4}</string>
				<key>textureRect</key>
				<string>{{0,752},{418,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_moogle.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,62}</string>
				<key>spriteSourceSize</key>
				<string>{75,62}</string>
				<key>textureRect</key>
				<string>{{1587,456},{75,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_next_arrow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,76}</string>
				<key>spriteSourceSize</key>
				<string>{160,76}</string>
				<key>textureRect</key>
				<string>{{1447,1024},{160,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_nextfloor_frame.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{620,232}</string>
				<key>spriteSourceSize</key>
				<string>{620,232}</string>
				<key>textureRect</key>
				<string>{{0,946},{620,232}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_orb.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{1663,456},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_orbcost_large.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,32}</string>
				<key>spriteSourceSize</key>
				<string>{80,32}</string>
				<key>textureRect</key>
				<string>{{159,1319},{80,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_orbcost.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,28}</string>
				<key>spriteSourceSize</key>
				<string>{72,28}</string>
				<key>textureRect</key>
				<string>{{1612,1238},{72,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_probabilityup_banner.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,128}</string>
				<key>spriteSourceSize</key>
				<string>{640,128}</string>
				<key>textureRect</key>
				<string>{{641,551},{640,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_probabilityup_label.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{158,60}</string>
				<key>spriteSourceSize</key>
				<string>{158,60}</string>
				<key>textureRect</key>
				<string>{{0,1292},{158,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_rareability_frame.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{340,152}</string>
				<key>spriteSourceSize</key>
				<string>{340,152}</string>
				<key>textureRect</key>
				<string>{{1282,278},{340,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_rareability_line.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{534,44}</string>
				<key>spriteSourceSize</key>
				<string>{534,44}</string>
				<key>textureRect</key>
				<string>{{0,707},{534,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_search_long_g_bg1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,32}</string>
				<key>spriteSourceSize</key>
				<string>{480,32}</string>
				<key>textureRect</key>
				<string>{{621,1055},{480,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_search_long_g_bg2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,32}</string>
				<key>spriteSourceSize</key>
				<string>{480,32}</string>
				<key>textureRect</key>
				<string>{{621,1088},{480,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_search_long_g_bg3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,32}</string>
				<key>spriteSourceSize</key>
				<string>{480,32}</string>
				<key>textureRect</key>
				<string>{{621,1121},{480,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_textbg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,85}</string>
				<key>spriteSourceSize</key>
				<string>{640,85}</string>
				<key>textureRect</key>
				<string>{{641,680},{640,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_timeleft_bg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,20}</string>
				<key>spriteSourceSize</key>
				<string>{260,20}</string>
				<key>textureRect</key>
				<string>{{1241,794},{260,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_title.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{424,112}</string>
				<key>spriteSourceSize</key>
				<string>{424,112}</string>
				<key>textureRect</key>
				<string>{{0,1179},{424,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_uniqueability_frame.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,152}</string>
				<key>spriteSourceSize</key>
				<string>{360,152}</string>
				<key>textureRect</key>
				<string>{{1282,125},{360,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_uniqueability_icon1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,104}</string>
				<key>spriteSourceSize</key>
				<string>{126,104}</string>
				<key>textureRect</key>
				<string>{{113,1353},{126,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_uniqueability_icon2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,104}</string>
				<key>spriteSourceSize</key>
				<string>{126,104}</string>
				<key>textureRect</key>
				<string>{{240,1292},{126,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_uniqueability_line.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{534,44}</string>
				<key>spriteSourceSize</key>
				<string>{534,44}</string>
				<key>textureRect</key>
				<string>{{621,951},{534,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_web_frame_bottom.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,12}</string>
				<key>spriteSourceSize</key>
				<string>{640,12}</string>
				<key>textureRect</key>
				<string>{{0,681},{640,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eg_web_frame_top.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{640,12}</string>
				<key>spriteSourceSize</key>
				<string>{640,12}</string>
				<key>textureRect</key>
				<string>{{0,694},{640,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>largebutton_label_challenge.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{248,40}</string>
				<key>spriteSourceSize</key>
				<string>{248,40}</string>
				<key>textureRect</key>
				<string>{{1241,815},{248,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>middlebutton_label_giveup.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,52}</string>
				<key>spriteSourceSize</key>
				<string>{166,52}</string>
				<key>textureRect</key>
				<string>{{425,1179},{166,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>middlebutton_label_goback.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,52}</string>
				<key>spriteSourceSize</key>
				<string>{166,52}</string>
				<key>textureRect</key>
				<string>{{425,1232},{166,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>middlebutton_label_growth.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,52}</string>
				<key>spriteSourceSize</key>
				<string>{166,52}</string>
				<key>textureRect</key>
				<string>{{1241,856},{166,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>middlebutton_label_growthequipmen.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,52}</string>
				<key>spriteSourceSize</key>
				<string>{166,52}</string>
				<key>textureRect</key>
				<string>{{1457,918},{166,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>middlebutton_label_remove.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,52}</string>
				<key>spriteSourceSize</key>
				<string>{166,52}</string>
				<key>textureRect</key>
				<string>{{1457,971},{166,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minibutton_label_ability_giveup.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{280,24}</string>
				<key>spriteSourceSize</key>
				<string>{280,24}</string>
				<key>textureRect</key>
				<string>{{1331,1238},{280,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minibutton_label_ability_replace.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{280,24}</string>
				<key>spriteSourceSize</key>
				<string>{280,24}</string>
				<key>textureRect</key>
				<string>{{1331,1263},{280,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minibutton_label_cancel.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,24}</string>
				<key>spriteSourceSize</key>
				<string>{92,24}</string>
				<key>textureRect</key>
				<string>{{1408,856},{92,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minibutton_label_choose.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,24}</string>
				<key>spriteSourceSize</key>
				<string>{92,24}</string>
				<key>textureRect</key>
				<string>{{1408,881},{92,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minibutton_label_confirm.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,24}</string>
				<key>spriteSourceSize</key>
				<string>{92,24}</string>
				<key>textureRect</key>
				<string>{{1587,431},{92,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rareability_icon1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{240,1397},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rareability_icon2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{345,1397},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>settingequipment_icon1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{367,1292},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>settingequipment_icon2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{450,1397},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>equipgrow.png</string>
			<key>size</key>
			<string>{1686,1508}</string>
			<key>textureFileName</key>
			<string>equipgrow.png</string>
		</dict>
	</dict>
</plist>