<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge_explore_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,527},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>campaignAnnounce_1-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,573},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>campaignAnnounce_1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,655},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>eventBannerEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,361},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>homeBanner_01_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,573},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>homeBanner_03_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,573},{166,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,112}}</string>
                <key>sourceSize</key>
                <string>{166,112}</string>
            </dict>
            <key>homeBanner_04_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,527},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>home_16note_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,207},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>home_16note_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,601},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>home_VC_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,361},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>home_bg_blurgradation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,358}}</string>
                <key>sourceSize</key>
                <string>{640,358}</string>
            </dict>
            <key>home_eff_dvsbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,403},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,110}}</string>
                <key>sourceSize</key>
                <string>{112,110}</string>
            </dict>
            <key>home_eff_roadtoglory.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>home_gauge_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,235},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>home_grid_fourcorners.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,529},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>home_icon_breakthrough.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,515},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_darkvisions.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,607},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_darkvisions_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,607},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_darkvisionsabyss.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,403},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_limitedshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,495},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_news.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,587},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_roadtoglory.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,343},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_icon_ultimania.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,435},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>home_label_cp.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,657},{88,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>home_line_dvsbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,655},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>home_line_dvsbtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,513},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>home_mainmenu_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{262,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,210}}</string>
                <key>sourceSize</key>
                <string>{262,210}</string>
            </dict>
            <key>home_mainmenu_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{176,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,210}}</string>
                <key>sourceSize</key>
                <string>{176,210}</string>
            </dict>
            <key>home_mainmenu_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,361},{54,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,166}}</string>
                <key>sourceSize</key>
                <string>{54,166}</string>
            </dict>
            <key>home_mainmenu_orbBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,641},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>home_musictitle_partition.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,515},{4,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,24}}</string>
                <key>sourceSize</key>
                <string>{4,24}</string>
            </dict>
            <key>home_musictitlebase_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,613},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>home_orb_colosseum.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,679},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>home_orb_equipgrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,655},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>home_orb_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,249},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>home_pointing_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,657},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>home_status_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,601},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>home_submenu_mail_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,527},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>home_submenu_mail_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,213},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>home_submenu_mail_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,513},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>home_submenu_mission_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,111},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>home_submenu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,213},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>home_visioncard_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,347},{124,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{932,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03244dabece0e272cf802e7b80ff2115:bb2edc5a1be674f16644aed44526e77e:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
