<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mypage_craft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_craft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_craft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_expedition1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_expedition2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_expedition3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_summon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,283},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_summon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,565},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
            <key>mypage_summon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,565},{344,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,280}}</string>
                <key>sourceSize</key>
                <string>{344,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mypage_ext2.png</string>
            <key>size</key>
            <string>{1038,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02facc62af8e5945189ebd1575afe8a3:4a32a29d5786c7697a2ad4d9934fd4e7:92f86a02561ba129dcd5c42ce36dd74c$</string>
            <key>textureFileName</key>
            <string>mypage_ext2.png</string>
        </dict>
    </dict>
</plist>
