<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emblem_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1},{18,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,67}}</string>
                <key>sourceSize</key>
                <string>{18,67}</string>
            </dict>
            <key>emblem_progress_gauge_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,599},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>emblem_progress_gauge_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1},{82,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,250}}</string>
                <key>sourceSize</key>
                <string>{82,250}</string>
            </dict>
            <key>emblem_progress_gauge_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,253},{82,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>emblemmr_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,439},{610,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,60}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>emblemr_tab_mth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,546},{306,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,64}}</string>
                <key>sourceSize</key>
                <string>{306,64}</string>
            </dict>
            <key>emblemr_tab_mth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,476},{306,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,64}}</string>
                <key>sourceSize</key>
                <string>{306,64}</string>
            </dict>
            <key>emblemr_tab_wk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,542},{306,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,64}}</string>
                <key>sourceSize</key>
                <string>{306,64}</string>
            </dict>
            <key>emblemr_tab_wk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,608},{306,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,63}}</string>
                <key>sourceSize</key>
                <string>{306,63}</string>
            </dict>
            <key>largebutton_label_getreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,390},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_try.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,612},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>middlebutton_label_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,336},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_red_label_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,336},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_red_label_receivingreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,612},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>mission_clear_telop.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,341},{639,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,96}}</string>
                <key>sourceSize</key>
                <string>{639,96}</string>
            </dict>
            <key>mission_clearwindow_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,501},{569,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,96}}</string>
                <key>sourceSize</key>
                <string>{569,96}</string>
            </dict>
            <key>mission_emblem_plate_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1},{533,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,166}}</string>
                <key>sourceSize</key>
                <string>{533,166}</string>
            </dict>
            <key>mission_emblem_plate_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,169},{533,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,165}}</string>
                <key>sourceSize</key>
                <string>{533,165}</string>
            </dict>
            <key>mission_mogmeter_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{640,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,136}</string>
            </dict>
            <key>mission_plate_challenge_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>mission_plate_challenge_perioddisplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,635},{248,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,32}}</string>
                <key>sourceSize</key>
                <string>{248,32}</string>
            </dict>
            <key>mission_plate_challenge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,336},{344,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
            <key>mission_plate_challenge_upper_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,432},{248,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,32}}</string>
                <key>sourceSize</key>
                <string>{248,32}</string>
            </dict>
            <key>mission_plate_expert_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>mission_plate_expert_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,406},{344,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
            <key>mission_plate_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>mission_plate_list_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>mission_plate_list_expired.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,171},{624,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,168}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>mission_plate_timelimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,635},{176,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,32}}</string>
                <key>sourceSize</key>
                <string>{176,32}</string>
            </dict>
            <key>mission_plate_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,476},{344,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
            <key>mission_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,599},{406,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,34}}</string>
                <key>sourceSize</key>
                <string>{406,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mission.png</string>
            <key>size</key>
            <string>{1892,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0864fe854a11440e93cd4f4c672abd06:52cb682528ae37c2e42c36d11f9871c0:221c57480d967819db1b6d53ded399de$</string>
            <key>textureFileName</key>
            <string>mission.png</string>
        </dict>
    </dict>
</plist>
