<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wb_mission_plate_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{622,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{622,156}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>wb_mission_plate_list_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{624,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{624,154}}</string>
                <key>sourceSize</key>
                <string>{624,168}</string>
            </dict>
            <key>wb_mission_plate_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{342,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mission_ext2.png</string>
            <key>size</key>
            <string>{626,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39661f7aad80f31c332b06a2b179c5b:12649d6e13f1f98a262166de2bb8e607:756f39cebab807db75777660196f5852$</string>
            <key>textureFileName</key>
            <string>mission_ext2.png</string>
        </dict>
    </dict>
</plist>
