<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,572},{328,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,48}}</string>
                <key>sourceSize</key>
                <string>{328,48}</string>
            </dict>
            <key>copyright_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,587},{328,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,48}}</string>
                <key>sourceSize</key>
                <string>{328,48}</string>
            </dict>
            <key>fb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,187},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ffbe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,656}}</string>
                <key>sourceSize</key>
                <string>{640,656}</string>
            </dict>
            <key>ffbe_logo_8th.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{448,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,144}}</string>
                <key>sourceSize</key>
                <string>{448,144}</string>
            </dict>
            <key>sq_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,48}}</string>
                <key>sourceSize</key>
                <string>{640,48}</string>
            </dict>
            <key>sqex_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,134},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>title_button_middle_long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,423},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>title_button_middle_long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,505},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>title_button_mini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{120,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>title_button_mini2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,68},{120,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>title_button_mini_long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,587},{195,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,64}}</string>
                <key>sourceSize</key>
                <string>{195,64}</string>
            </dict>
            <key>title_button_mini_long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,587},{195,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,64}}</string>
                <key>sourceSize</key>
                <string>{195,64}</string>
            </dict>
            <key>title_button_oblong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,52},{624,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,176}}</string>
                <key>sourceSize</key>
                <string>{624,176}</string>
            </dict>
            <key>title_button_oblong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,230},{624,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,176}}</string>
                <key>sourceSize</key>
                <string>{624,176}</string>
            </dict>
            <key>titlebutton_label_deletecache.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,148},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_iap_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,259},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,225},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>titlebutton_label_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,341},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_redownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,408},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_redownload_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,423},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_redownload_dlc.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,490},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
            <key>titlebutton_label_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,259},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>titlebutton_label_takeover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,505},{512,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{512,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{1874,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:349d367f50c0080a05da555446cd28e6:140519e194d966e172cf3436cf8b11d9:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
