<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieve_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{906,39},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_emblem_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,108}</string>
                <key>spriteSourceSize</key>
                <string>{628,108}</string>
                <key>textureRect</key>
                <string>{{2,507},{628,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_emblem_list_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,108}</string>
                <key>spriteSourceSize</key>
                <string>{628,108}</string>
                <key>textureRect</key>
                <string>{{2,397},{628,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_emblem_list_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,108}</string>
                <key>spriteSourceSize</key>
                <string>{628,108}</string>
                <key>textureRect</key>
                <string>{{256,287},{628,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{770,507},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,16}</string>
                <key>spriteSourceSize</key>
                <string>{640,16}</string>
                <key>textureRect</key>
                <string>{{2,13},{640,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_nameplate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{752,39},{152,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_noreceipt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{286,81},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_receipt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{188,81},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_stamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2,287},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_achieve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{120,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_achieve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{356,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_arena_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{474,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_arena_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{238,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_colosseum_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{2,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_colosseum_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{592,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_enemy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{238,213},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_enemy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{120,213},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_quest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{828,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_quest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{2,213},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_total_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{710,147},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_tab_total_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{816,81},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_trophy_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{684,81},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_trophy_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{552,81},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_trophy_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{750,81},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_trophy_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{618,81},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve_trophy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,72}</string>
                <key>spriteSourceSize</key>
                <string>{608,72}</string>
                <key>textureRect</key>
                <string>{{356,213},{608,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_getreward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{384,81},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_achievedetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{792,13},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_medals.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{698,13},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{2,39},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{96,39},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogdescription_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,140}</string>
                <key>textureRect</key>
                <string>{{2,775},{480,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogdescription_mog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,126}</string>
                <key>spriteSourceSize</key>
                <string>{136,126}</string>
                <key>textureRect</key>
                <string>{{632,507},{136,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,48}</string>
                <key>spriteSourceSize</key>
                <string>{184,48}</string>
                <key>textureRect</key>
                <string>{{2,81},{184,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,9}</string>
                <key>spriteSourceSize</key>
                <string>{480,9}</string>
                <key>textureRect</key>
                <string>{{2,2},{480,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,136}</string>
                <key>spriteSourceSize</key>
                <string>{640,136}</string>
                <key>textureRect</key>
                <string>{{2,637},{640,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,35}</string>
                <key>spriteSourceSize</key>
                <string>{514,35}</string>
                <key>textureRect</key>
                <string>{{236,39},{514,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{666,13},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_minitrophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{190,39},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_mog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{158,287},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{644,13},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mogmeter_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{84,287},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>achieve.png</string>
            <key>size</key>
            <string>{966,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4cc189af96d0f9c264b012742a90ff:ed81901b54a34a44306eb07a597bc1e5:1039a827e061156f3adc5d02167ae618$</string>
            <key>textureFileName</key>
            <string>achieve.png</string>
        </dict>
    </dict>
</plist>
