<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beast_base_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,177},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>largebutton_label_sumboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,159},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_sumpowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,157},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>middlebtn_label_release.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,511},{128,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,52}</string>
            </dict>
            <key>middlebutton_label_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,403},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>middlebutton_label_resist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,457},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>middlebutton_label_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,389},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>minibutton_long_label_boardreset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,149},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>nameplate_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,273},{224,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,56}}</string>
                <key>sourceSize</key>
                <string>{224,56}</string>
            </dict>
            <key>rb_ap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,275},{232,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,56}}</string>
                <key>sourceSize</key>
                <string>{232,56}</string>
            </dict>
            <key>rb_board_gridinfo_acquired.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,406},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rb_board_gridinfo_ap.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,406},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_arrow_yellow_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,201},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_arrow_yellow_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,201},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_arrow_yellow_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,199},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_arrow_yellow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,199},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_arrow_yellow_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,199},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_arrow_yellow_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,199},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sumboard_gridframe_gold_learned_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,405},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_gold_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,405},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_learned_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,405},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_learned_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,207},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_learned_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,405},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,405},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridframe_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_gridinfo_learned.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,205},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sumboard_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,331},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>sumborad_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>summon_bait_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,91},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>summon_bait_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,333},{312,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,52}}</string>
                <key>sourceSize</key>
                <string>{312,52}</string>
            </dict>
            <key>summon_bait_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,208}}</string>
                <key>sourceSize</key>
                <string>{640,208}</string>
            </dict>
            <key>summon_cp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,91},{232,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,56}}</string>
                <key>sourceSize</key>
                <string>{232,56}</string>
            </dict>
            <key>summon_cp_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,91},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{242,66}</string>
            </dict>
            <key>summon_exp_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,177},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>summon_favorite.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,179},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>summon_favorite_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,179},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>summon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,211},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>summon_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,211},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>summon_label_lv_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>summon_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,367},{184,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,34}}</string>
                <key>sourceSize</key>
                <string>{184,34}</string>
            </dict>
            <key>summon_lv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,163},{545,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,12}}</string>
                <key>sourceSize</key>
                <string>{545,12}</string>
            </dict>
            <key>summon_lv_bar_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,353},{545,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,12}}</string>
                <key>sourceSize</key>
                <string>{545,12}</string>
            </dict>
            <key>summon_lv_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,387},{592,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,72}}</string>
                <key>sourceSize</key>
                <string>{592,72}</string>
            </dict>
            <key>summon_lv_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,461},{592,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,72}}</string>
                <key>sourceSize</key>
                <string>{592,72}</string>
            </dict>
            <key>summon_lv_gaugebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,335},{545,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,16}}</string>
                <key>sourceSize</key>
                <string>{545,16}</string>
            </dict>
            <key>summon_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,369},{320,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,34}}</string>
                <key>sourceSize</key>
                <string>{320,34}</string>
            </dict>
            <key>summon_nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,211},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>summon_sp_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,177},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>summon_star_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,27},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>summon_star_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,27},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>summon_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,203},{424,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,130}}</string>
                <key>sourceSize</key>
                <string>{424,130}</string>
            </dict>
            <key>summon_status_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{164,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,193}}</string>
                <key>sourceSize</key>
                <string>{164,193}</string>
            </dict>
            <key>summoning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>uniticon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,91},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uniticon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,91},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_ext3.png</string>
            <key>size</key>
            <string>{2009,567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b23736072ddadb8b884466e360171f:031b16e9bb060b09e143d167361d1f9e:84924c4cf970b087f539feed9d7cf324$</string>
            <key>textureFileName</key>
            <string>summon_ext3.png</string>
        </dict>
    </dict>
</plist>
