<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minimap_arrow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>minimap_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,42},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>minimap_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,42},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>minimap_arrow_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>minimap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>minimap_chara.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,42},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>minimap_icon_abi.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,76},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,110},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_acshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_bla.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,144},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_chocobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,144},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_colosseum.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,146},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_inn.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,146},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,178},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,178},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,180},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,180},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,214},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,248},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,214},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_recipe.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,248},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,212},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_sub2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,246},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_sub3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,212},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>minimap_icon_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,246},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minimap.png</string>
            <key>size</key>
            <string>{706,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d1c9ed3656c15fc29a048b339d5f08:af724801bedf7e894ccee7de205fb30b:b37d44ff29f54618f544ec80c761366f$</string>
            <key>textureFileName</key>
            <string>minimap.png</string>
        </dict>
    </dict>
</plist>
