<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_2ndannivticketinfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,289},{211,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,70}}</string>
                <key>sourceSize</key>
                <string>{211,70}</string>
            </dict>
            <key>gacha_2ndannivticketinfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,613},{214,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,70}}</string>
                <key>sourceSize</key>
                <string>{214,70}</string>
            </dict>
            <key>gacha_arenaticketinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,1},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_arrow_gold_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,541},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>gacha_arrow_gold_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,243},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>gacha_arrow_silver_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,243},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>gacha_arrow_silver_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,325},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>gacha_bondsinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,71},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_box_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,131},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>gacha_commoninfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,361},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_confirm_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,731},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>gacha_enabled_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,515},{462,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,32}}</string>
                <key>sourceSize</key>
                <string>{462,32}</string>
            </dict>
            <key>gacha_ex_ticketinfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,685},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_ex_ticketinfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,563},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_executed.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,687},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>gacha_executed_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,729},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>gacha_mogballoon_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,289},{502,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,128}}</string>
                <key>sourceSize</key>
                <string>{502,128}</string>
            </dict>
            <key>gacha_mogballoon_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{478,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,94}}</string>
                <key>sourceSize</key>
                <string>{478,94}</string>
            </dict>
            <key>gacha_mogballoon_m_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,419},{478,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,94}}</string>
                <key>sourceSize</key>
                <string>{478,94}</string>
            </dict>
            <key>gacha_mogballoon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1},{208,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,128}}</string>
                <key>sourceSize</key>
                <string>{208,128}</string>
            </dict>
            <key>gacha_plate_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{594,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,140}}</string>
                <key>sourceSize</key>
                <string>{594,140}</string>
            </dict>
            <key>gacha_plate_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,147},{594,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,140}}</string>
                <key>sourceSize</key>
                <string>{594,140}</string>
            </dict>
            <key>gacha_redirect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,141},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_redirect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,211},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_select_ticketbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,549},{226,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,62}}</string>
                <key>sourceSize</key>
                <string>{226,62}</string>
            </dict>
            <key>gacha_select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{622,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,68}}</string>
                <key>sourceSize</key>
                <string>{622,68}</string>
            </dict>
            <key>gacha_select_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{622,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,312}}</string>
                <key>sourceSize</key>
                <string>{622,312}</string>
            </dict>
            <key>gacha_select_unitbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,751},{225,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,36}}</string>
                <key>sourceSize</key>
                <string>{225,36}</string>
            </dict>
            <key>gacha_selectticketinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,281},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_stepup_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,491},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>gacha_stepup_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,755},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>gacha_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>gacha_tab_free_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,685},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_tab_free_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,431},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_tab_limited_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,497},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_tab_limited_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,563},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_tab_pay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,633},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_tab_pay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,699},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>gacha_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{640,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,144}}</string>
                <key>sourceSize</key>
                <string>{640,144}</string>
            </dict>
            <key>gacha_ticketinfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,351},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_ticketinfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,421},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>gacha_tofreenumber_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,629},{210,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,54}}</string>
                <key>sourceSize</key>
                <string>{210,54}</string>
            </dict>
            <key>gacha_unitprism_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{622,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,68}}</string>
                <key>sourceSize</key>
                <string>{622,68}</string>
            </dict>
            <key>minibutton_label_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,131},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>minibutton_label_gacha_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,557},{132,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,45}}</string>
                <key>sourceSize</key>
                <string>{132,45}</string>
            </dict>
            <key>minibutton_label_gacha_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,755},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_percentage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,243},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>minibutton_label_unitlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,604},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>unit_tab_UOC_unitprism_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,491},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_UOC_unitprism_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,177},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_UOC_units_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,650},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_UOC_units_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,716},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unitprism.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,549},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha.png</string>
            <key>size</key>
            <string>{1690,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:affbaa3baa206cd6f60a8a406e144f67:ad949dacc5796576a9775a388661312f:0ee78ab6ba4799a2aaa099e0fb0ca202$</string>
            <key>textureFileName</key>
            <string>gacha.png</string>
        </dict>
    </dict>
</plist>
