<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_base_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,259},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>gacha_label_odcv.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,519},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>gacha_label_raritynvplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,285},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>gacha_label_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,547},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>gacha_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,111},{160,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,146}</string>
            </dict>
            <key>gacha_panel_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>gacha_panel_itemframe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,281},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>gacha_panel_itemframe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,281},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>gacha_panel_mogu.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,111},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>gacha_panel_sheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{526,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,526}}</string>
                <key>sourceSize</key>
                <string>{526,526}</string>
            </dict>
            <key>gacha_panel_sheetnumber_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,71},{352,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,38}}</string>
                <key>sourceSize</key>
                <string>{352,38}</string>
            </dict>
            <key>gacha_panel_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,451},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gacha_sheet_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{344,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
            <key>middlebutton_label_gacha_panelreset.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,419},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>minibutton_slim_long_label_paneldetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,473},{188,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,44}}</string>
                <key>sourceSize</key>
                <string>{188,44}</string>
            </dict>
            <key>nameplate_item_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,419},{152,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,30}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha3.png</string>
            <key>size</key>
            <string>{918,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47db9d43b9db1e94cb6fccca61851cb0:6f3ef07dc2d3c445be072956bd11ff4d:ccad8c1e8fcc6049def2e55b05fdd1f6$</string>
            <key>textureFileName</key>
            <string>gacha3.png</string>
        </dict>
    </dict>
</plist>
