<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>gacha_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,400}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>gacha_boxtab_green_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,421},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,487},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,709},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,775},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,105},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,171},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,237},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,503},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,823},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_green_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,303},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,369},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,435},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,501},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,567},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,553},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,569},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,619},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,685},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,751},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_boxtab_red_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,817},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>gacha_btn_bs_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,83},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>gacha_btn_bs_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,163},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>gacha_btn_howtouse_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,673},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_howtouse_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,349},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_lbmovie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,633},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_lbmovie_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,713},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_movie_next_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,841},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>gacha_btn_movie_next_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,841},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>gacha_btn_movie_return_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,551},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>gacha_btn_movie_return_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,429},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>gacha_btn_notice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,713},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_notice_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,753},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>gacha_btn_raritymax_info_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,269},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>gacha_btn_raritymax_info_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,633},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>gacha_btn_ratio_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,673},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>gacha_btn_ratio_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,793},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>gacha_btn_sptrust_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>gacha_btn_sptrust_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,421},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>gacha_btn_trust_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,615},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>gacha_btn_trust_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,697},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>gacha_btn_visioncard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,851},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>gacha_btn_visioncard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,635},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>gacha_detial_log_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{570,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,62}}</string>
                <key>sourceSize</key>
                <string>{570,62}</string>
            </dict>
            <key>gacha_detial_log_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,551},{570,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,62}}</string>
                <key>sourceSize</key>
                <string>{570,62}</string>
            </dict>
            <key>gacha_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,635},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>gacha_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,833},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>gacha_label_globalupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,193},{194,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,58}}</string>
                <key>sourceSize</key>
                <string>{194,58}</string>
            </dict>
            <key>gacha_label_lbcv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,865},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>gacha_label_newally.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,253},{194,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,58}}</string>
                <key>sourceSize</key>
                <string>{194,58}</string>
            </dict>
            <key>gacha_label_rarity3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,793},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>gacha_label_rarity4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,819},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>gacha_label_rarity5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,793},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>gacha_label_rarity6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,845},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>gacha_label_rarity7.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,851},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>gacha_label_raritynv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,243},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>gacha_label_to.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,751},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gacha_lapisinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,357},{212,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,30}}</string>
                <key>sourceSize</key>
                <string>{212,30}</string>
            </dict>
            <key>gacha_lapisinfo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,389},{204,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,30}}</string>
                <key>sourceSize</key>
                <string>{204,30}</string>
            </dict>
            <key>gacha_lapisticket_frame_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,313},{190,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,42}}</string>
                <key>sourceSize</key>
                <string>{190,42}</string>
            </dict>
            <key>gacha_lapisticket_frame_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,779},{118,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,42}}</string>
                <key>sourceSize</key>
                <string>{118,42}</string>
            </dict>
            <key>gacha_lapisticketinfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,105},{212,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,42}</string>
            </dict>
            <key>gacha_lapisticketinfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,149},{212,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,42}</string>
            </dict>
            <key>gacha_list_period_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,851},{288,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,40}}</string>
                <key>sourceSize</key>
                <string>{288,40}</string>
            </dict>
            <key>gacha_movieframe_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,483},{640,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,66}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>gacha_movieframe_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,520}}</string>
                <key>sourceSize</key>
                <string>{640,520}</string>
            </dict>
            <key>gacha_movieframe_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,403},{640,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,78}}</string>
                <key>sourceSize</key>
                <string>{640,78}</string>
            </dict>
            <key>gacha_panel_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,709},{445,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,140}}</string>
                <key>sourceSize</key>
                <string>{445,140}</string>
            </dict>
            <key>gacha_reward_detial_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{568,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,92}}</string>
                <key>sourceSize</key>
                <string>{568,92}</string>
            </dict>
            <key>gacha_reward_detial_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,615},{568,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,92}}</string>
                <key>sourceSize</key>
                <string>{568,92}</string>
            </dict>
            <key>gacha_special_banner_lock_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,605},{590,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,128}}</string>
                <key>sourceSize</key>
                <string>{590,128}</string>
            </dict>
            <key>gacha_type_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,889},{12,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,2}}</string>
                <key>sourceSize</key>
                <string>{12,2}</string>
            </dict>
            <key>gacha_unitname_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{330,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,102}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha2.png</string>
            <key>size</key>
            <string>{1722,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c28d310de051ffad645d0d410017fde:98e90ff4d2df8fdbbc22f14b9cd8cddf:bc062ff40d0b710c040c34d749ec695e$</string>
            <key>textureFileName</key>
            <string>gacha2.png</string>
        </dict>
    </dict>
</plist>
