<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>copyright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,48}</string>
                <key>spriteSourceSize</key>
                <string>{328,48}</string>
                <key>textureRect</key>
                <string>{{1286,2},{328,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ffbe_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,656}</string>
                <key>spriteSourceSize</key>
                <string>{640,656}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ffbe_logo_8th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,144}</string>
                <key>spriteSourceSize</key>
                <string>{448,144}</string>
                <key>textureRect</key>
                <string>{{1270,70},{448,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ffbe_logo_9th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,144}</string>
                <key>spriteSourceSize</key>
                <string>{448,144}</string>
                <key>textureRect</key>
                <string>{{1270,216},{448,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ffbe_logo_9th_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,144}</string>
                <key>spriteSourceSize</key>
                <string>{448,144}</string>
                <key>textureRect</key>
                <string>{{1270,362},{448,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,48}</string>
                <key>spriteSourceSize</key>
                <string>{640,48}</string>
                <key>textureRect</key>
                <string>{{644,2},{640,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sqex_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{888,590},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_button_mini1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{644,590},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_button_mini2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{766,590},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_button_oblong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,176}</string>
                <key>spriteSourceSize</key>
                <string>{624,176}</string>
                <key>textureRect</key>
                <string>{{644,52},{624,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_button_oblong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,176}</string>
                <key>spriteSourceSize</key>
                <string>{624,176}</string>
                <key>textureRect</key>
                <string>{{644,230},{624,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebutton_label_deletecache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,80}</string>
                <key>textureRect</key>
                <string>{{644,508},{512,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebutton_label_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{1616,2},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebutton_label_redownload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,80}</string>
                <key>textureRect</key>
                <string>{{644,408},{512,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebutton_label_restore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{1616,36},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebutton_label_takeover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,80}</string>
                <key>textureRect</key>
                <string>{{1158,508},{512,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{1720,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed17640a0b0569b0db0df5a2ffe411d:d5c38056d05b971c4452c15cab993d58:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
