<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lgb_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,816},{500,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,126}}</string>
                <key>sourceSize</key>
                <string>{500,126}</string>
            </dict>
            <key>lgb_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{640,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,424}}</string>
                <key>sourceSize</key>
                <string>{640,424}</string>
            </dict>
            <key>lgb_itembg_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,424}}</string>
                <key>sourceSize</key>
                <string>{640,424}</string>
            </dict>
            <key>lgb_itembg_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,506}}</string>
                <key>sourceSize</key>
                <string>{640,506}</string>
            </dict>
            <key>lgb_itemframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,935},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>lgb_itemframe_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,935},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>lgb_itemframe_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,816},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>lgb_itemframe_sp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,944},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>lgb_itemframe_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,619},{640,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,112}}</string>
                <key>sourceSize</key>
                <string>{640,112}</string>
            </dict>
            <key>lgb_itemnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1002},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_itemnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,944},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lgb_moogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,935},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>lgb_moogle_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,935},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>lgb_moogles_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,726},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>lgb_nameplate_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1065},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>lgb_tapscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1005},{528,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,88}}</string>
                <key>sourceSize</key>
                <string>{528,88}</string>
            </dict>
            <key>lgb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{640,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,312}}</string>
                <key>sourceSize</key>
                <string>{640,312}</string>
            </dict>
            <key>lgb_title_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,315},{640,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,311}}</string>
                <key>sourceSize</key>
                <string>{640,311}</string>
            </dict>
            <key>lgb_title_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,427},{640,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,190}}</string>
                <key>sourceSize</key>
                <string>{640,190}</string>
            </dict>
            <key>lgb_total_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,799},{632,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,204}}</string>
                <key>sourceSize</key>
                <string>{632,204}</string>
            </dict>
            <key>lgb_total_window_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,733},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>lgb_total_window_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,628},{640,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,96}}</string>
                <key>sourceSize</key>
                <string>{640,96}</string>
            </dict>
            <key>lgb_txtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1005},{418,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,58}}</string>
                <key>sourceSize</key>
                <string>{418,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginbonus.png</string>
            <key>size</key>
            <string>{1926,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6fddf037df43b824c1b2cde2ffe471:aed7159abd3a47d27691dd5f6777de55:09d0d8083a11b6f8bb50e98d59c199d6$</string>
            <key>textureFileName</key>
            <string>loginbonus.png</string>
        </dict>
    </dict>
</plist>
