<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cmb_txtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1621},{418,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,58}}</string>
                <key>sourceSize</key>
                <string>{418,58}</string>
            </dict>
            <key>cmblb_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1099},{589,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,404}}</string>
                <key>sourceSize</key>
                <string>{589,404}</string>
            </dict>
            <key>cmblb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{606,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,312}}</string>
                <key>sourceSize</key>
                <string>{606,312}</string>
            </dict>
            <key>wlb_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,766},{304,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,126}}</string>
                <key>sourceSize</key>
                <string>{304,126}</string>
            </dict>
            <key>wlb_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1035},{590,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,62}}</string>
                <key>sourceSize</key>
                <string>{590,62}</string>
            </dict>
            <key>wlb_itembg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{590,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,404}}</string>
                <key>sourceSize</key>
                <string>{590,404}</string>
            </dict>
            <key>wlb_itemframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>wlb_itemframe_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1},{114,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,123}}</string>
                <key>sourceSize</key>
                <string>{114,123}</string>
            </dict>
            <key>wlb_itemframe_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,126},{114,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>wlb_itemnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,430},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,485},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,540},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,546},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,547},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,595},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,601},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,577},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,600},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,602},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,632},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,650},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,656},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,657},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,705},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,711},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,655},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,710},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,687},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,894},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,894},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,894},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,894},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,894},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,949},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,949},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,949},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,949},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,949},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1004},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_itemnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1004},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>wlb_nameplate_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,250},{130,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,54}}</string>
                <key>sourceSize</key>
                <string>{130,54}</string>
            </dict>
            <key>wlb_quantitylabel_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,319},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>wlb_special_itemframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,177},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>wlb_special_itemframe_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,306},{114,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>wlb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{606,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,312}}</string>
                <key>sourceSize</key>
                <string>{606,312}</string>
            </dict>
            <key>wlb_txtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1681},{418,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,58}}</string>
                <key>sourceSize</key>
                <string>{418,58}</string>
            </dict>
            <key>wlb_window_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1505},{448,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,256}}</string>
                <key>sourceSize</key>
                <string>{448,256}</string>
            </dict>
            <key>wlb_window_corner_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,430},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wlb_window_corner_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,488},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wlb_window_corner_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,430},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>wlb_window_corner_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,489},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wlb_window_line_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1505},{448,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,56}}</string>
                <key>sourceSize</key>
                <string>{448,56}</string>
            </dict>
            <key>wlb_window_line_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,319},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{56,256}</string>
            </dict>
            <key>wlb_window_line_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,342},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{56,256}</string>
            </dict>
            <key>wlb_window_line_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1563},{448,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,56}}</string>
                <key>sourceSize</key>
                <string>{448,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginbonus_ext2.png</string>
            <key>size</key>
            <string>{900,1762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2760cc62467173ef417108c606ac60f:bd7bd0bfd89474fb16fac146eccfd2ef:0e92315e5fac565d5780dbdddae158f1$</string>
            <key>textureFileName</key>
            <string>loginbonus_ext2.png</string>
        </dict>
    </dict>
</plist>
