<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,16}</string>
                <key>spriteSourceSize</key>
                <string>{376,16}</string>
                <key>textureRect</key>
                <string>{{2,1288},{376,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,40}</string>
                <key>spriteSourceSize</key>
                <string>{416,40}</string>
                <key>textureRect</key>
                <string>{{2,1204},{416,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_gaugebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,40}</string>
                <key>spriteSourceSize</key>
                <string>{416,40}</string>
                <key>textureRect</key>
                <string>{{2,1246},{416,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,40}</string>
                <key>spriteSourceSize</key>
                <string>{208,40}</string>
                <key>textureRect</key>
                <string>{{420,1204},{208,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbg_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,516}</string>
                <key>spriteSourceSize</key>
                <string>{640,516}</string>
                <key>textureRect</key>
                <string>{{2,686},{640,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbg_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,682}</string>
                <key>spriteSourceSize</key>
                <string>{640,682}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{644,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b6a80d5a06a85483d7475d7dbb2619:4a6e23482a0dfee6a5b3c40459775857:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
