<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_glitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{746,768},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,123}</string>
                <key>spriteSourceSize</key>
                <string>{640,123}</string>
                <key>textureRect</key>
                <string>{{2,410},{640,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg_bluedot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,144}</string>
                <key>spriteSourceSize</key>
                <string>{640,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg_bluedot_eff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,72}</string>
                <key>spriteSourceSize</key>
                <string>{640,72}</string>
                <key>textureRect</key>
                <string>{{2,641},{640,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,58}</string>
                <key>spriteSourceSize</key>
                <string>{640,58}</string>
                <key>textureRect</key>
                <string>{{2,715},{640,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{2,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{109,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_craft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{216,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_craft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{323,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_friend_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,170},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_friend_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,272},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_gacha_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,374},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_gacha_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,476},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_highscore_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_highscore_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_home_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,578},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_home_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,680},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_item_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,782},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_item_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{750,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_mission_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_mission_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_party1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{430,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_party2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{537,830},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_popularUnits1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{852,2},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_popularUnits2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{852,94},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_rankborder_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_rankborder_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_ranking1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{852,186},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_ranking2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{848,278},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_ranking_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_ranking_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_reward1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{848,370},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_reward2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{848,462},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_reward_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_reward_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_shop_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{750,166},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_shop_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{746,268},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_trade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{848,554},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_trade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{746,676},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_trade_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_trade_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{644,64},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_unit_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{746,370},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_btn_unit_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{746,472},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_expt_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{644,2},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_expt_moogle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{746,574},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_separate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,130}</string>
                <key>spriteSourceSize</key>
                <string>{640,130}</string>
                <key>textureRect</key>
                <string>{{2,148},{640,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_footer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,128}</string>
                <key>spriteSourceSize</key>
                <string>{640,128}</string>
                <key>textureRect</key>
                <string>{{2,280},{640,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_footer_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,11}</string>
                <key>spriteSourceSize</key>
                <string>{640,11}</string>
                <key>textureRect</key>
                <string>{{2,817},{640,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_under_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,104}</string>
                <key>spriteSourceSize</key>
                <string>{640,104}</string>
                <key>textureRect</key>
                <string>{{2,535},{640,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_under_ticker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,40}</string>
                <key>spriteSourceSize</key>
                <string>{640,40}</string>
                <key>textureRect</key>
                <string>{{2,775},{640,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mypage_under_ticker_news.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{644,884},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{959,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cffb815694c2f005f1d79e6787b264ce:2ac94ec9ceef6a193fa03157570aafc8:61db89b0754283e2ea1725b91dfb3c14$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
