<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_btn_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{858,1162},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_btn_mini2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{830,1701},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_commentedit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{890,1298},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_commentedit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{898,1348},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_favostar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{602,760},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_giftballoonmini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{508,966},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_greenbutton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,64}</string>
                <key>spriteSourceSize</key>
                <string>{176,64}</string>
                <key>textureRect</key>
                <string>{{726,1232},{176,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_greenbutton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,64}</string>
                <key>spriteSourceSize</key>
                <string>{176,64}</string>
                <key>textureRect</key>
                <string>{{712,1298},{176,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_icon_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{888,1701},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mycomment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,168}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{628,2},{280,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mygiftballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,156}</string>
                <key>spriteSourceSize</key>
                <string>{228,156}</string>
                <key>textureRect</key>
                <string>{{638,172},{228,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mygiftbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,232}</string>
                <key>spriteSourceSize</key>
                <string>{624,232}</string>
                <key>textureRect</key>
                <string>{{2,2},{624,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mygiftset_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{868,172},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mygiftset_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{868,230},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_mynamebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,32}</string>
                <key>spriteSourceSize</key>
                <string>{184,32}</string>
                <key>textureRect</key>
                <string>{{712,1364},{184,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_battle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{602,860},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_battle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{602,958},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_summons1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{508,1056},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_summons2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{508,1154},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_training1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{494,1252},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_performance_training2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,96}</string>
                <key>spriteSourceSize</key>
                <string>{216,96}</string>
                <key>textureRect</key>
                <string>{{494,1350},{216,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_enemy1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{712,1398},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_enemy2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{744,1445},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_event1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{770,1526},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_event2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{794,1607},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_favorite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{794,1654},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_support_functionalrestriction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,270}</string>
                <key>spriteSourceSize</key>
                <string>{112,270}</string>
                <key>textureRect</key>
                <string>{{2,1484},{112,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlist_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,168}</string>
                <key>spriteSourceSize</key>
                <string>{624,168}</string>
                <key>textureRect</key>
                <string>{{2,420},{624,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlist_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,168}</string>
                <key>spriteSourceSize</key>
                <string>{624,168}</string>
                <key>textureRect</key>
                <string>{{2,590},{624,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_button_label_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,32}</string>
                <key>spriteSourceSize</key>
                <string>{144,32}</string>
                <key>textureRect</key>
                <string>{{744,1492},{144,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_button_label_give.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,32}</string>
                <key>spriteSourceSize</key>
                <string>{144,32}</string>
                <key>textureRect</key>
                <string>{{770,1573},{144,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_addfavo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{494,1448},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_deletefavo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{494,1490},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_deletefriend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{520,1532},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{196,1222},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendlv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{196,1328},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendperformance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{196,1434},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendrecommend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{116,1540},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{638,330},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_friendsearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{628,436},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{628,542},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_norequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{520,1574},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_playerperformance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{628,648},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,104}</string>
                <key>spriteSourceSize</key>
                <string>{296,104}</string>
                <key>textureRect</key>
                <string>{{628,754},{296,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,116}</string>
                <key>textureRect</key>
                <string>{{116,1646},{180,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{820,966},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendLv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,116}</string>
                <key>textureRect</key>
                <string>{{298,1646},{180,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendRecommend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{726,1056},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendRequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{726,1144},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{662,1616},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_square_icon_friendSupport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,116}</string>
                <key>textureRect</key>
                <string>{{480,1646},{180,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{858,1054},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_give.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{858,1108},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{662,1704},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_friendapprove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{116,1484},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_frienddelete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{520,1616},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_friendgift_getall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{116,1510},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_friendgift_giveall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{868,288},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_comment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,126}</string>
                <key>spriteSourceSize</key>
                <string>{504,126}</string>
                <key>textureRect</key>
                <string>{{2,966},{504,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_comment_notail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,126}</string>
                <key>spriteSourceSize</key>
                <string>{504,126}</string>
                <key>textureRect</key>
                <string>{{2,1094},{504,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_comment_notail_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,182}</string>
                <key>spriteSourceSize</key>
                <string>{634,182}</string>
                <key>textureRect</key>
                <string>{{2,236},{634,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{414,1540},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{820,860},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,80}</string>
                <key>spriteSourceSize</key>
                <string>{598,80}</string>
                <key>textureRect</key>
                <string>{{2,884},{598,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerinfo_unitstatus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,122}</string>
                <key>spriteSourceSize</key>
                <string>{598,122}</string>
                <key>textureRect</key>
                <string>{{2,760},{598,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>visioncard_nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,260}</string>
                <key>spriteSourceSize</key>
                <string>{192,260}</string>
                <key>textureRect</key>
                <string>{{2,1222},{192,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{952,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ec229a04bb7380c77cc51b01735137:382bfa5ea4caa288ee0f0d10f5b8923a:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
