<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>largebutton_label_buy_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,39}</string>
                <key>spriteSourceSize</key>
                <string>{248,39}</string>
                <key>textureRect</key>
                <string>{{644,362},{248,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_sell_category_ability.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{644,278},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_sell_category_equip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{2,376},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_sell_category_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{2,418},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_sell_category_material.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{644,320},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_sell_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{252,376},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>largebutton_label_trade_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,40}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{252,418},{248,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_acquired.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{502,376},{96,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_buy_town.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{698,403},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_detail_town.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{786,403},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_trade_town.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{874,403},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_lackgil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{600,403},{96,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,128}</string>
                <key>spriteSourceSize</key>
                <string>{640,128}</string>
                <key>textureRect</key>
                <string>{{2,140},{640,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_create_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,104}</string>
                <key>spriteSourceSize</key>
                <string>{640,104}</string>
                <key>textureRect</key>
                <string>{{2,270},{640,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_fade_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,336}</string>
                <key>spriteSourceSize</key>
                <string>{16,336}</string>
                <key>textureRect</key>
                <string>{{918,2},{16,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_fade_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,384}</string>
                <key>spriteSourceSize</key>
                <string>{16,384}</string>
                <key>textureRect</key>
                <string>{{936,2},{16,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,200}</string>
                <key>spriteSourceSize</key>
                <string>{16,200}</string>
                <key>textureRect</key>
                <string>{{954,2},{16,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_pagebottom_platebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,136}</string>
                <key>spriteSourceSize</key>
                <string>{640,136}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_telepo_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,136}</string>
                <key>spriteSourceSize</key>
                <string>{272,136}</string>
                <key>textureRect</key>
                <string>{{644,2},{272,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>town_telepo_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,136}</string>
                <key>spriteSourceSize</key>
                <string>{272,136}</string>
                <key>textureRect</key>
                <string>{{644,140},{272,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>town.png</string>
            <key>size</key>
            <string>{972,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1f054da8b20d3f5838bd98a0d88b4c:68537c5b75dbfb2349d2e6cb23813a2f:8f2a9d3c98b0f261ba64a0b53eb9789a$</string>
            <key>textureFileName</key>
            <string>town.png</string>
        </dict>
    </dict>
</plist>
