<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_abilitypowerup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{2,604},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,2},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,112},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{1258,54},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,222},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{1258,164},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,332},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{1258,274},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_abilitypowerup_rank3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,442},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_braveabilitypowerup_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{1258,384},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_braveabilitypowerup_rank1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{1258,494},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_braveabilitypowerup_rank1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,108}</string>
                <key>spriteSourceSize</key>
                <string>{612,108}</string>
                <key>textureRect</key>
                <string>{{644,552},{612,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_on_yell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1798,604},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commonR_AreaTitle_dungeon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,72}</string>
                <key>spriteSourceSize</key>
                <string>{424,72}</string>
                <key>textureRect</key>
                <string>{{588,730},{424,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bg_glayOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1872,54},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bg_glayOut75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{616,604},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_decorationLine_transparentBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,2}</string>
                <key>spriteSourceSize</key>
                <string>{125,2}</string>
                <key>textureRect</key>
                <string>{{2,802},{125,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,50}</string>
                <key>textureRect</key>
                <string>{{1258,2},{640,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,600}</string>
                <key>spriteSourceSize</key>
                <string>{640,600}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_list_long_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,32}</string>
                <key>spriteSourceSize</key>
                <string>{480,32}</string>
                <key>textureRect</key>
                <string>{{2,768},{480,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_list_long_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,32}</string>
                <key>spriteSourceSize</key>
                <string>{480,32}</string>
                <key>textureRect</key>
                <string>{{1258,636},{480,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_search_long_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,32}</string>
                <key>spriteSourceSize</key>
                <string>{480,32}</string>
                <key>textureRect</key>
                <string>{{616,662},{480,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_search_long_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,32}</string>
                <key>spriteSourceSize</key>
                <string>{480,32}</string>
                <key>textureRect</key>
                <string>{{616,696},{480,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_search_mini_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,32}</string>
                <key>textureRect</key>
                <string>{{1740,636},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_search_mini_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,32}</string>
                <key>textureRect</key>
                <string>{{1014,730},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>killerScale_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,48}</string>
                <key>spriteSourceSize</key>
                <string>{278,48}</string>
                <key>textureRect</key>
                <string>{{1098,670},{278,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lackofmaterial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{484,768},{80,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_label_getpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{1630,670},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_verylong_label_ultmania.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,52}</string>
                <key>spriteSourceSize</key>
                <string>{250,52}</string>
                <key>textureRect</key>
                <string>{{1378,670},{250,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_verylong_label_ultmania2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,52}</string>
                <key>spriteSourceSize</key>
                <string>{250,52}</string>
                <key>textureRect</key>
                <string>{{1098,720},{250,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_verylong_label_writelater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,52}</string>
                <key>spriteSourceSize</key>
                <string>{250,52}</string>
                <key>textureRect</key>
                <string>{{1350,724},{250,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middlebutton_verylong_label_writereview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,52}</string>
                <key>spriteSourceSize</key>
                <string>{250,52}</string>
                <key>textureRect</key>
                <string>{{1602,724},{250,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1668,778},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minibutton_label_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1798,666},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,30}</string>
                <key>spriteSourceSize</key>
                <string>{500,30}</string>
                <key>textureRect</key>
                <string>{{1258,604},{500,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vc_ability_list_half_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,32}</string>
                <key>spriteSourceSize</key>
                <string>{216,32}</string>
                <key>textureRect</key>
                <string>{{1014,774},{216,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>visioncard_ability_list_half_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,32}</string>
                <key>spriteSourceSize</key>
                <string>{216,32}</string>
                <key>textureRect</key>
                <string>{{1232,778},{216,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>visioncard_ability_list_half_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,32}</string>
                <key>spriteSourceSize</key>
                <string>{216,32}</string>
                <key>textureRect</key>
                <string>{{1450,778},{216,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windowR_headlineBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,52}</string>
                <key>spriteSourceSize</key>
                <string>{584,52}</string>
                <key>textureRect</key>
                <string>{{2,714},{584,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{1900,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b429aa0c80c8a95c304f47a4f3b8dd:c497a45a98e1124caddcee9df6ecfeba:f643bdaf012d9ac3ffbd9be3bdc0a51e$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
