<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Extralongbutton_label_LoginApple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>Extralongbutton_label_LoginFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>Extralongbutton_label_LoginGoogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{404,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,69}}</string>
                <key>sourceSize</key>
                <string>{404,69}</string>
            </dict>
            <key>Extralongbutton_label_None.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>Extralongbutton_label_Unbind.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,73},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>button_label_loginApple.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,526},{244,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,65}}</string>
                <key>sourceSize</key>
                <string>{244,65}</string>
            </dict>
            <key>button_label_loginFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,587},{244,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,65}}</string>
                <key>sourceSize</key>
                <string>{244,65}</string>
            </dict>
            <key>button_label_loginbind.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,83},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>button_label_logingoogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{244,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,65}}</string>
                <key>sourceSize</key>
                <string>{244,65}</string>
            </dict>
            <key>button_label_loginoptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,360},{254,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,81}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>button_label_loginunbind.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,165},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>button_label_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>button_middle_verylong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,360},{254,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,81}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>button_middle_verylong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,443},{254,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,81}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>button_middle_verylong_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,443},{254,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,81}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>button_middle_verylong_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,526},{254,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,80}}</string>
                <key>sourceSize</key>
                <string>{254,80}</string>
            </dict>
            <key>button_middle_verylong_white2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,504},{254,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,81}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>button_mini_extralong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>button_mini_extralong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,289},{404,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,69}}</string>
                <key>sourceSize</key>
                <string>{404,69}</string>
            </dict>
            <key>button_mini_extralong_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,145},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>button_mini_extralong_red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>button_mini_extralong_red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,217},{404,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,70}}</string>
                <key>sourceSize</key>
                <string>{404,70}</string>
            </dict>
            <key>button_mini_extralong_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,360},{403,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,70}}</string>
                <key>sourceSize</key>
                <string>{403,70}</string>
            </dict>
            <key>button_mini_extralong_white2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,432},{403,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,70}}</string>
                <key>sourceSize</key>
                <string>{403,70}</string>
            </dict>
            <key>button_mini_verylong_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,526},{244,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,64}}</string>
                <key>sourceSize</key>
                <string>{244,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>googleID.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1734cad9d37d8e2dc533084df3cb7b:4abea12a056d1a1af0c055135679043b:d37177be1c491ac80d09f92fae5db46c$</string>
            <key>textureFileName</key>
            <string>googleID.png</string>
        </dict>
    </dict>
</plist>
