<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_large_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,263},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>arrow_large_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,275},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>checkbox_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,384},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>checkbox_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,389},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_item_favorite.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,151},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>filteroff.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,443},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>filteroff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,497},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>gacha_btn_reroll1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>gacha_btn_reroll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,83},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>gacha_btnlabel_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,163},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>gacha_btnlabel_reroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,199},{192,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,25}}</string>
                <key>sourceSize</key>
                <string>{192,25}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,355},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,451},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,477},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>middlebutton_label_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,165},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,525},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_cancellation.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,219},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,226},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,280},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_decide.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,579},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,652},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_flick.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,334},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,677},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,273},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,327},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_latent.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,381},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,679},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,435},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,281},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,704},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,669},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_recovery.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,676},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,335},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,706},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>middlebutton_label_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{166,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,51}}</string>
                <key>sourceSize</key>
                <string>{166,51}</string>
            </dict>
            <key>middlebutton_label_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,335},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,388},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,389},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_useitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_uselapis.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,389},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_virtualpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,442},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_watchvideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,489},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,443},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_verylong_label_batchdownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>middlebutton_verylong_label_privacy.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,55},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>middlebutton_verylong_label_tos.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,109},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>mini_arrow_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,215},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>mini_arrow_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,226},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>mini_arrow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,266},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>mini_arrow_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,245},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>minibutton_label_allbattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,496},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_allquest.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,522},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,624},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,573},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,163},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>minibutton_label_dictionary.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,213},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>minibutton_label_disclaimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,446},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>minibutton_label_filtering.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,569},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>minibutton_label_function.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,165},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>minibutton_label_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,619},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,633},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,645},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_otherparts.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,599},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,451},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>minibutton_label_reproduct.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,625},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_review.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,627},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,659},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_selectall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,652},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_selectclear.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,543},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_selectmulti.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,569},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>minibutton_label_selectmulti_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,626},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_selectsingle.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,548},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_selectsingle_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,651},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,653},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,678},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_sortfilter.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,574},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>minibutton_label_toggleview.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,619},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>minibutton_label_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,650},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minimum_arrow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,485},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>minislimbuttonverylong_label_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{242,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,24}}</string>
                <key>sourceSize</key>
                <string>{242,24}</string>
            </dict>
            <key>num_slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,233},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{78,100}</string>
            </dict>
            <key>positionmark_big_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,306},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>positionmark_big_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,332},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>positionmark_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,503},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>positionmark_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,503},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,358},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>remove_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,151},{232,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,128}}</string>
                <key>sourceSize</key>
                <string>{232,128}</string>
            </dict>
            <key>remove_long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{232,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,128}}</string>
                <key>sourceSize</key>
                <string>{232,128}</string>
            </dict>
            <key>remove_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,522},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>remove_mini2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,496},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>window_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{560,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,148}}</string>
                <key>sourceSize</key>
                <string>{560,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_ext2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c80250b9b9cd4d311f8fddde51c73fbc:6e7f2c9ee5d533623ac7148bee1d0941:8ffd758703fa5c24470ecf739a2b0348$</string>
            <key>textureFileName</key>
            <string>common_ext2.png</string>
        </dict>
    </dict>
</plist>
