<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_abilitypowerup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,111},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,221},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,111},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,221},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,383},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,405},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_abilitypowerup_rank3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,493},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_braveabilitypowerup_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,515},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_braveabilitypowerup_rank1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_braveabilitypowerup_rank1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,603},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_hiddenskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,625},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>button_hiddenskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{612,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,108}}</string>
                <key>sourceSize</key>
                <string>{612,108}</string>
            </dict>
            <key>checkbox_on_yell.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,823},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>commonR_AreaTitle_dungeon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,331},{424,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,72}}</string>
                <key>sourceSize</key>
                <string>{424,72}</string>
            </dict>
            <key>common_bg_glayOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,383},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>common_bg_glayOut75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,331},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>common_decorationLine_transparentBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,331},{125,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,2}}</string>
                <key>sourceSize</key>
                <string>{125,2}</string>
            </dict>
            <key>element_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,331},{640,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,50}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>gradation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,600}}</string>
                <key>sourceSize</key>
                <string>{640,600}</string>
            </dict>
            <key>item_list_long_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,767},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>item_list_long_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,767},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>item_search_long_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,801},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>item_search_long_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,801},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>item_search_mini_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,349},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>item_search_mini_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,361},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>killerScale_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,823},{278,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,48}}</string>
                <key>sourceSize</key>
                <string>{278,48}</string>
            </dict>
            <key>lackofmaterial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,335},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>middlebutton_label_getpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,735},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_verylong_label_ultmania.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,789},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>middlebutton_verylong_label_ultmania2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,823},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>middlebutton_verylong_label_writelater.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,835},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>middlebutton_verylong_label_writereview.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,835},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>minibutton_label_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,789},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>minibutton_label_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,815},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,735},{500,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,30}}</string>
                <key>sourceSize</key>
                <string>{500,30}</string>
            </dict>
            <key>vc_ability_list_half_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,835},{216,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,32}}</string>
                <key>sourceSize</key>
                <string>{216,32}</string>
            </dict>
            <key>visioncard_ability_list_half_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,835},{216,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,32}}</string>
                <key>sourceSize</key>
                <string>{216,32}</string>
            </dict>
            <key>visioncard_ability_list_half_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,843},{216,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,32}}</string>
                <key>sourceSize</key>
                <string>{216,32}</string>
            </dict>
            <key>windowR_headlineBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,713},{584,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,52}}</string>
                <key>sourceSize</key>
                <string>{584,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{1870,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7bdd042063e612b6894e060c2afc527:583f28870775460d826666c506e07c32:f643bdaf012d9ac3ffbd9be3bdc0a51e$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
