<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inform_category1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,463},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_category2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,463},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_category3.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,199},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_category4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,226},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_category5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,397},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_category6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,424},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>inform_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{624,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,112}}</string>
                <key>sourceSize</key>
                <string>{624,112}</string>
            </dict>
            <key>inform_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{624,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,112}}</string>
                <key>sourceSize</key>
                <string>{624,112}</string>
            </dict>
            <key>inform_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{640,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,24}}</string>
                <key>sourceSize</key>
                <string>{640,24}</string>
            </dict>
            <key>inform_tab_all_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_all_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,265},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>inform_tab_campaign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_campaign2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,67},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_event_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,67},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_event_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,133},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_gacha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,345},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_gacha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,133},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_important1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,411},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_important2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,345},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_important_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,345},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_important_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,411},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,411},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,199},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>inform_tab_news_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,331},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_tab_news_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,397},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_update_news_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,265},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>inform_update_news_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,331},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>information.png</string>
            <key>size</key>
            <string>{925,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac018f3d275000bdcebd308914440fa:dcee86a864f137ad7a6b7d21ed9ab133:cfaa88e71e9e581882d8ac19c3fd0318$</string>
            <key>textureFileName</key>
            <string>information.png</string>
        </dict>
    </dict>
</plist>
