<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>libra_close_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,88}</string>
                <key>spriteSourceSize</key>
                <string>{168,88}</string>
                <key>textureRect</key>
                <string>{{2,814},{168,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>libra_close_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,88}</string>
                <key>spriteSourceSize</key>
                <string>{168,88}</string>
                <key>textureRect</key>
                <string>{{172,814},{168,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>libra_label_weakweapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,25}</string>
                <key>spriteSourceSize</key>
                <string>{86,25}</string>
                <key>textureRect</key>
                <string>{{342,814},{86,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>libra_mainbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,428}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>libra_registbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,208}</string>
                <key>spriteSourceSize</key>
                <string>{640,208}</string>
                <key>textureRect</key>
                <string>{{2,432},{640,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>libra_statusbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,170}</string>
                <key>spriteSourceSize</key>
                <string>{640,170}</string>
                <key>textureRect</key>
                <string>{{2,642},{640,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>libra.png</string>
            <key>size</key>
            <string>{644,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7cd0e6095bf12d9dc7ab983b3930278:6de6b8c5f6ef93687b1c16bcbefa19ea:d7997fee47add9ba7c9a73f18676eb85$</string>
            <key>textureFileName</key>
            <string>libra.png</string>
        </dict>
    </dict>
</plist>
