<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>largebutton_label_ability_powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,976},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_label_evo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,785},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_label_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,976},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_label_powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1266},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_label_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1389},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_label_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1512},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>largebutton_round_label_ability_evo.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1266},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_beast.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1411},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_bundlesynthetic.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1556},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_evo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1282},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1282},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1282},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1282},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_round_label_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1282},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>largebutton_square_icon_beast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,1602},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_bundlesynthetic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,1427},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_conversion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1602},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,1086},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1175},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1264},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>middlebutton_label_rating_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,908},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_rating_endurance.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1652},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_rating_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1635},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_rating_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1494},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_skill_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1561},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_takeout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1616},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>miniButton_label_release.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,274},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>miniButton_long_label_SLBbuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1683},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_bulkselection.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1683},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_lvmax.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1648},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_rating_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,301},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_rating_endurance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,328},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_rating_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,355},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_rating_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,382},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>minibutton_label_samename.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1671},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_send_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1353},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_takeout_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1516},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>unit_awakening_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1380},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_awakening_all_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1566},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_awakening_all_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1613},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_awakening_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,274},{158,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,188}}</string>
                <key>sourceSize</key>
                <string>{158,188}</string>
            </dict>
            <key>unit_awakening_frame_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,785},{158,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,188}}</string>
                <key>sourceSize</key>
                <string>{158,188}</string>
            </dict>
            <key>unit_awakening_frame_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,785},{158,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,188}}</string>
                <key>sourceSize</key>
                <string>{158,188}</string>
            </dict>
            <key>unit_awakening_rarity7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,755}}</string>
                <key>sourceSize</key>
                <string>{640,755}</string>
            </dict>
            <key>unit_awakening_unique.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1660},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_awakening_unique_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1549},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_awakening_unique_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1427},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>unit_changingMaterial_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,472},{310,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,306}}</string>
                <key>sourceSize</key>
                <string>{310,306}</string>
            </dict>
            <key>unit_equip_visioncard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,759},{628,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,440}}</string>
                <key>sourceSize</key>
                <string>{628,440}</string>
            </dict>
            <key>unit_equip_visioncard_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1549},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>unit_equip_visioncard_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,775},{312,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,416}}</string>
                <key>sourceSize</key>
                <string>{312,416}</string>
            </dict>
            <key>unit_icon_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,585},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>unit_largebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1561},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>unit_largebutton_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,963},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>unit_mastercard_relief.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,775},{310,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,415}}</string>
                <key>sourceSize</key>
                <string>{310,415}</string>
            </dict>
            <key>unit_namebg_chara2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1140},{560,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,72}}</string>
                <key>sourceSize</key>
                <string>{560,72}</string>
            </dict>
            <key>unit_rating_bg_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,472},{442,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,110}}</string>
                <key>sourceSize</key>
                <string>{442,110}</string>
            </dict>
            <key>unit_rating_label_beaststup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1543},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,20}</string>
            </dict>
            <key>unit_rating_label_lbpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,409},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>unit_skillbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,482},{640,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,128}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>unit_skillbg_mini2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,613},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>unit_tab_awakening_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1518},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_awakening_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1585},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_classupprism_transform_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1215},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_classupprism_transform_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1215},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_fragment_transform_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1215},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_fragment_transform_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1427},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_nvcoin_transform_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1427},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_nvcoin_transform_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1427},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_trustcoin_transform_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1494},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tab_trustcoin_transform_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1494},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>unit_tower_button_party1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1193},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_button_party1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1201},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_button_party2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1258},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_button_party2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1323},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_button_party3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1388},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_button_party3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1453},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>unit_tower_editing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,742},{436,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,40}}</string>
                <key>sourceSize</key>
                <string>{436,40}</string>
            </dict>
            <key>unit_tower_minipartybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,708},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>unit_visioncard_cursor_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,781},{270,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,356}}</string>
                <key>sourceSize</key>
                <string>{270,356}</string>
            </dict>
            <key>unit_visioncard_cursor_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1},{206,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,270}}</string>
                <key>sourceSize</key>
                <string>{206,270}</string>
            </dict>
            <key>unit_visioncard_decorate_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1561},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>unit_visioncard_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1194},{246,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,4}}</string>
                <key>sourceSize</key>
                <string>{246,4}</string>
            </dict>
            <key>unit_visioncard_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1683},{253,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,10}}</string>
                <key>sourceSize</key>
                <string>{253,10}</string>
            </dict>
            <key>unit_visioncard_exp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1696},{253,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,10}}</string>
                <key>sourceSize</key>
                <string>{253,10}</string>
            </dict>
            <key>unit_visioncard_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,585},{374,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,154}}</string>
                <key>sourceSize</key>
                <string>{374,154}</string>
            </dict>
            <key>unit_wave_button_label_1editing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1099},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,32}}</string>
                <key>sourceSize</key>
                <string>{154,32}</string>
            </dict>
            <key>unit_wave_button_label_2editing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1099},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,32}}</string>
                <key>sourceSize</key>
                <string>{154,32}</string>
            </dict>
            <key>unit_wave_button_label_3editing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1676},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,32}}</string>
                <key>sourceSize</key>
                <string>{154,32}</string>
            </dict>
            <key>unit_window_awakeningmaterials.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1},{576,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,478}}</string>
                <key>sourceSize</key>
                <string>{576,478}</string>
            </dict>
            <key>unit_window_awakeningmaterials_ability.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1202},{576,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,478}}</string>
                <key>sourceSize</key>
                <string>{576,478}</string>
            </dict>
            <key>unit_window_powerupmaterials_braveability.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1},{576,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,468}}</string>
                <key>sourceSize</key>
                <string>{576,468}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit2.png</string>
            <key>size</key>
            <string>{2043,1709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8fbe392b164cf814462e13e9d8566cf:2103a72b45ac051912733e4a08101f31:dcc10b75438d74f313c858a840ce2329$</string>
            <key>textureFileName</key>
            <string>unit2.png</string>
        </dict>
    </dict>
</plist>
