<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_middle_growequipment1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,503},{404,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,124}}</string>
                <key>sourceSize</key>
                <string>{404,124}</string>
            </dict>
            <key>button_middle_growequipment2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,685},{404,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,124}}</string>
                <key>sourceSize</key>
                <string>{404,124}</string>
            </dict>
            <key>eg_ability_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,340}}</string>
                <key>sourceSize</key>
                <string>{640,340}</string>
            </dict>
            <key>eg_ability_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,535},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>eg_abilitybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{640,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,339}}</string>
                <key>sourceSize</key>
                <string>{640,339}</string>
            </dict>
            <key>eg_acquire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1137},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>eg_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,389},{112,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,154}}</string>
                <key>sourceSize</key>
                <string>{112,154}</string>
            </dict>
            <key>eg_base_number_of_materials.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1045},{226,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,36}}</string>
                <key>sourceSize</key>
                <string>{226,36}</string>
            </dict>
            <key>eg_breakthrough_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,687},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>eg_btntarget.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,583},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>eg_button_depart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,697},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_button_depart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,697},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_button_select_eg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,819},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_button_select_eg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,819},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_button_to_battle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,819},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_button_to_battle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,941},{304,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,120}}</string>
                <key>sourceSize</key>
                <string>{304,120}</string>
            </dict>
            <key>eg_character.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,685},{179,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,123}}</string>
                <key>sourceSize</key>
                <string>{179,123}</string>
            </dict>
            <key>eg_chooseability_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,291},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>eg_difficulty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,773},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>eg_difficulty_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,717},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>eg_dungeonname_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1104},{520,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,58}}</string>
                <key>sourceSize</key>
                <string>{520,58}</string>
            </dict>
            <key>eg_equipmentname_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,607},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>eg_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,747},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>eg_frame_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,288}}</string>
                <key>sourceSize</key>
                <string>{640,288}</string>
            </dict>
            <key>eg_frame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{629,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,179}}</string>
                <key>sourceSize</key>
                <string>{629,179}</string>
            </dict>
            <key>eg_getcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,941},{300,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,34}}</string>
                <key>sourceSize</key>
                <string>{300,34}</string>
            </dict>
            <key>eg_growable_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,918},{610,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,184}}</string>
                <key>sourceSize</key>
                <string>{610,184}</string>
            </dict>
            <key>eg_iconlabel_event.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1137},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>eg_mission_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1153},{418,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,4}}</string>
                <key>sourceSize</key>
                <string>{418,4}</string>
            </dict>
            <key>eg_moogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,623},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>eg_next_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,545},{160,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,76}}</string>
                <key>sourceSize</key>
                <string>{160,76}</string>
            </dict>
            <key>eg_nextfloor_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,684},{620,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,232}}</string>
                <key>sourceSize</key>
                <string>{620,232}</string>
            </dict>
            <key>eg_orb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1151},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>eg_orbcost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,657},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>eg_orbcost_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,623},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>eg_probabilityup_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,477},{640,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,128}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>eg_probabilityup_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,989},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>eg_rareability_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,965},{340,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,152}}</string>
                <key>sourceSize</key>
                <string>{340,152}</string>
            </dict>
            <key>eg_rareability_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,297},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>eg_search_long_g_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,629},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>eg_search_long_g_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,663},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>eg_search_long_g_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1119},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,32}</string>
            </dict>
            <key>eg_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,182},{640,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,85}}</string>
                <key>sourceSize</key>
                <string>{640,85}</string>
            </dict>
            <key>eg_timeleft_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,967},{260,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,20}}</string>
                <key>sourceSize</key>
                <string>{260,20}</string>
            </dict>
            <key>eg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,389},{424,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,112}}</string>
                <key>sourceSize</key>
                <string>{424,112}</string>
            </dict>
            <key>eg_uniqueability_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,811},{360,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,152}}</string>
                <key>sourceSize</key>
                <string>{360,152}</string>
            </dict>
            <key>eg_uniqueability_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,297},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>eg_uniqueability_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,403},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>eg_uniqueability_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,343},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>eg_web_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,269},{640,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,12}}</string>
                <key>sourceSize</key>
                <string>{640,12}</string>
            </dict>
            <key>eg_web_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,283},{640,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,12}}</string>
                <key>sourceSize</key>
                <string>{640,12}</string>
            </dict>
            <key>largebutton_label_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1003},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>middlebutton_label_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,989},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1083},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_growth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1083},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_growthequipmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1043},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1097},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>minibutton_label_ability_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,977},{280,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,24}}</string>
                <key>sourceSize</key>
                <string>{280,24}</string>
            </dict>
            <key>minibutton_label_ability_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,941},{280,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,24}}</string>
                <key>sourceSize</key>
                <string>{280,24}</string>
            </dict>
            <key>minibutton_label_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,509},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1137},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1137},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>rareability_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1063},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>rareability_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1063},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>settingequipment_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1051},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>settingequipment_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1051},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equipgrow.png</string>
            <key>size</key>
            <string>{1952,1168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5302c9f2659c929b834183a6f19bca0:55253c45d3ae3c99b3b1dc8616552fb4:69d607d4e958e2429ef4e99644716b80$</string>
            <key>textureFileName</key>
            <string>equipgrow.png</string>
        </dict>
    </dict>
</plist>
