<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_middle_growequipment3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{404,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,124}}</string>
                <key>sourceSize</key>
                <string>{404,124}</string>
            </dict>
            <key>button_middle_growequipment4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{404,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,124}}</string>
                <key>sourceSize</key>
                <string>{404,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equipgrow2.png</string>
            <key>size</key>
            <string>{812,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:181a9b9b1c84358b4a1201aac463dc6f:d7c7576628ce1d3b551146b5e9c5d62a:f637b5de844fd375ce4552433d1c4a3c$</string>
            <key>textureFileName</key>
            <string>equipgrow2.png</string>
        </dict>
    </dict>
</plist>
