<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ability_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{862,36},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{862,88},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,136}</string>
                <key>spriteSourceSize</key>
                <string>{480,136}</string>
                <key>textureRect</key>
                <string>{{2,752},{480,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,24}</string>
                <key>spriteSourceSize</key>
                <string>{468,24}</string>
                <key>textureRect</key>
                <string>{{484,834},{468,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_bg_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,40}</string>
                <key>spriteSourceSize</key>
                <string>{640,40}</string>
                <key>textureRect</key>
                <string>{{2,912},{640,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,312}</string>
                <key>spriteSourceSize</key>
                <string>{640,312}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{862,192},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,24}</string>
                <key>spriteSourceSize</key>
                <string>{468,24}</string>
                <key>textureRect</key>
                <string>{{484,860},{468,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_exevo_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{862,140},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,24}</string>
                <key>spriteSourceSize</key>
                <string>{468,24}</string>
                <key>textureRect</key>
                <string>{{484,886},{468,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,80}</string>
                <key>spriteSourceSize</key>
                <string>{496,80}</string>
                <key>textureRect</key>
                <string>{{484,752},{496,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_gaugebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,152}</string>
                <key>textureRect</key>
                <string>{{2,598},{640,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,32}</string>
                <key>textureRect</key>
                <string>{{862,2},{96,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_lvbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,136}</string>
                <key>textureRect</key>
                <string>{{644,212},{160,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_moogle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{216,208}</string>
                <key>textureRect</key>
                <string>{{644,2},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{806,212},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{848,226},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{806,246},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{890,226},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{932,226},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{848,260},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{806,280},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{890,260},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{932,260},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{848,294},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{806,314},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_resultbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,280}</string>
                <key>spriteSourceSize</key>
                <string>{640,280}</string>
                <key>textureRect</key>
                <string>{{2,316},{640,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendlv_resultlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,40}</string>
                <key>spriteSourceSize</key>
                <string>{544,40}</string>
                <key>textureRect</key>
                <string>{{2,954},{544,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friendlv.png</string>
            <key>size</key>
            <string>{982,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc4dbf8a47aafb9db62efed303a64b33:6451e991115c02c59d5fb8904570ccd9:a6437d4c541aa198d3da249eece6d328$</string>
            <key>textureFileName</key>
            <string>friendlv.png</string>
        </dict>
    </dict>
</plist>
