<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_areaeffect_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{552,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,632}}</string>
                <key>sourceSize</key>
                <string>{552,632}</string>
            </dict>
            <key>battle_areaeffect_list_headline_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,749},{217,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,30}}</string>
                <key>sourceSize</key>
                <string>{217,30}</string>
            </dict>
            <key>battle_areaeffect_list_headline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,771},{217,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,30}}</string>
                <key>sourceSize</key>
                <string>{217,30}</string>
            </dict>
            <key>battle_areaeffect_list_headline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,781},{217,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,30}}</string>
                <key>sourceSize</key>
                <string>{217,30}</string>
            </dict>
            <key>battle_buff_list_arrow_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,605},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>battle_buff_list_arrow_l_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,609},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>battle_buff_list_arrow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,609},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>battle_buff_list_arrow_r_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,609},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>battle_buff_list_flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1},{640,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,512}}</string>
                <key>sourceSize</key>
                <string>{640,512}</string>
            </dict>
            <key>battle_buff_list_flame_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,515},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>battle_buff_list_flame_party.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>battle_buff_list_headline_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,675},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,707},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,739},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,803},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,813},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,835},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,841},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_headline_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,841},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>battle_buff_list_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,605},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>battle_buff_list_line_half_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,609},{288,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,2}}</string>
                <key>sourceSize</key>
                <string>{288,2}</string>
            </dict>
            <key>battle_buff_list_line_half_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,613},{288,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,2}}</string>
                <key>sourceSize</key>
                <string>{288,2}</string>
            </dict>
            <key>battle_buff_list_line_horizon.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,605},{576,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,2}}</string>
                <key>sourceSize</key>
                <string>{576,2}</string>
            </dict>
            <key>battle_buff_list_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,635},{640,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,114}}</string>
                <key>sourceSize</key>
                <string>{640,114}</string>
            </dict>
            <key>battle_buff_releasetarget_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,609},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>battle_buff_releasetarget_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,617},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>battle_buff_settarget_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,675},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>battle_buff_settarget_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,683},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_buff.png</string>
            <key>size</key>
            <string>{1196,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8b0c2574dfa7daf3e93f935e62e2c0:ff1778d94633c1dc4477087cac7284af:83b055bcccdcae238f57bcfaa34fc690$</string>
            <key>textureFileName</key>
            <string>battle_buff.png</string>
        </dict>
    </dict>
</plist>
