<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackonly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,747},{296,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,96}}</string>
                <key>sourceSize</key>
                <string>{296,96}</string>
            </dict>
            <key>battle_baloon_braveshiftready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,845},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>battle_baloon_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,51},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>battle_base_partyunit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,173},{276,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,48}}</string>
                <key>sourceSize</key>
                <string>{276,48}</string>
            </dict>
            <key>battle_base_score_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,48}}</string>
                <key>sourceSize</key>
                <string>{640,48}</string>
            </dict>
            <key>battle_btn_party_overdrive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>battle_btn_party_overdrive_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{336,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,132}}</string>
                <key>sourceSize</key>
                <string>{336,132}</string>
            </dict>
            <key>battle_com_auto_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,598},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_auto_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,680},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_card_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,762},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_card_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,520},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_icon_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,747},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,520},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,756},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,523},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,523},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,645},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_icon_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,645},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_com_item_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_item_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,345},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_magic_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,555},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_magic_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,93},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_memory_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,602},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_memory_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,684},{164,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,80}}</string>
                <key>sourceSize</key>
                <string>{164,80}</string>
            </dict>
            <key>battle_com_menu_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,475},{168,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,88}}</string>
                <key>sourceSize</key>
                <string>{168,88}</string>
            </dict>
            <key>battle_com_menu_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,565},{168,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,88}}</string>
                <key>sourceSize</key>
                <string>{168,88}</string>
            </dict>
            <key>battle_com_mini_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,44},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_baloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,20},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>battle_com_mini_baloon_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,223},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>battle_com_mini_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,827},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,827},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>battle_com_mini_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,281},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,51},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,172},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_mini_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,230},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle_com_off_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,130},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_quest_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,106},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_quest_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,298},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>battle_com_reload_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,516},{165,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,80}}</string>
                <key>sourceSize</key>
                <string>{165,80}</string>
            </dict>
            <key>battle_com_reload_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,655},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>battle_com_targetmonster_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,20},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_com_targetmonster_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_com_targetparty_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,44},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_com_targetparty_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,130},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_com_targetrival_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,216},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_com_targetrival_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,87},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>battle_enemy_barrier_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1},{376,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,17}}</string>
                <key>sourceSize</key>
                <string>{376,17}</string>
            </dict>
            <key>battle_enemy_barrier_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{417,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,41}}</string>
                <key>sourceSize</key>
                <string>{417,41}</string>
            </dict>
            <key>battle_flick_ability_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,106},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_ability_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,236},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_attackb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,366},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_attackb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,738},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_attackt_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,223},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_attackt_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,490},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>battle_flick_defense_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,371},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_defense_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,496},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_item_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,353},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_item_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,620},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_limit_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,626},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_flick_limit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,750},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle_icon_info_overdrive.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,323},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>battle_icon_unit_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,814},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>battle_list_return_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,371},{178,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{178,150}</string>
            </dict>
            <key>battle_list_return_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,323},{178,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{178,150}</string>
            </dict>
            <key>battle_multipleparty_decision_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,223},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>battle_multipleparty_decision_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,297},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>battle_multipleparty_replace_choosing.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,845},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>battle_multipleparty_reset_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,302},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>battle_multipleparty_reset_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,376},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>battle_multipleparty_shift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,853},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>battle_multipleparty_shift_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,173},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>battle_multipleparty_shift_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,814},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>battle_multipleparty_tab_sortie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,450},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>battle_multipleparty_tab_sortie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,322},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>battle_multipleparty_tab_wait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,388},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>battle_multipleparty_tab_wait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,454},{220,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>battle_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,323},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>battle_skill_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,87},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>battle_talk_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,353},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>battle_title_base_dotblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{488,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,40}}</string>
                <key>sourceSize</key>
                <string>{488,40}</string>
            </dict>
            <key>battle_unit_barrier_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,537},{182,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,5}}</string>
                <key>sourceSize</key>
                <string>{182,5}</string>
            </dict>
            <key>battle_unit_barrier_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,285},{202,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,36}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>lack_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,766},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>lack_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,642},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>lack_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,728},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>notfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,767},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>od_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,767},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,501},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_ability.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,587},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,673},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,759},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,483},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,569},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,655},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>unavailable_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,741},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_ext2.png</string>
            <key>size</key>
            <string>{1838,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5616d33f58dc21bdaf9a5d0a3f828fb:7f0e7270195ae4c96673e9f7312fdb18:7c8135a973a2cbd6221877fe0c725b2c$</string>
            <key>textureFileName</key>
            <string>battle_ext2.png</string>
        </dict>
    </dict>
</plist>
