<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieve_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,123},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>achieve_emblem_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{628,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,108}}</string>
                <key>sourceSize</key>
                <string>{628,108}</string>
            </dict>
            <key>achieve_emblem_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{628,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,108}}</string>
                <key>sourceSize</key>
                <string>{628,108}</string>
            </dict>
            <key>achieve_emblem_list_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,467},{628,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,108}}</string>
                <key>sourceSize</key>
                <string>{628,108}</string>
            </dict>
            <key>achieve_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,51},{152,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,128}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>achieve_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{640,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,16}}</string>
                <key>sourceSize</key>
                <string>{640,16}</string>
            </dict>
            <key>achieve_nameplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,55},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>achieve_noreceipt.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,489},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>achieve_receipt.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,511},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>achieve_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,565},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>achieve_tab_achieve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,181},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_achieve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,225},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_arena_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,225},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_arena_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,247},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>achieve_tab_colosseum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,291},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_colosseum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,313},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_enemy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,291},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_enemy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,357},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_quest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,379},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_quest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,357},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_total_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,423},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_tab_total_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,445},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>achieve_trophy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,699},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>achieve_trophy_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,699},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>achieve_trophy_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,699},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>achieve_trophy_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,699},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>achieve_trophy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{608,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,72}}</string>
                <key>sourceSize</key>
                <string>{608,72}</string>
            </dict>
            <key>middlebutton_label_getreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>minibutton_label_achievedetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,521},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_medals.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,539},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_rewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,561},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>minibutton_label_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,587},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>mogdescription_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{480,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,140}}</string>
                <key>sourceSize</key>
                <string>{480,140}</string>
            </dict>
            <key>mogdescription_mog.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,97},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>mogmeter_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{184,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,48}}</string>
                <key>sourceSize</key>
                <string>{184,48}</string>
            </dict>
            <key>mogmeter_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,688},{480,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,9}}</string>
                <key>sourceSize</key>
                <string>{480,9}</string>
            </dict>
            <key>mogmeter_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,136}</string>
            </dict>
            <key>mogmeter_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,651},{514,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,35}}</string>
                <key>sourceSize</key>
                <string>{514,35}</string>
            </dict>
            <key>mogmeter_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,51},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>mogmeter_minitrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,97},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>mogmeter_mog.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,423},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>mogmeter_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,73},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>mogmeter_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,565},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>achieve.png</string>
            <key>size</key>
            <string>{998,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51d899588c0ce1abc2b7d2bdca41b706:74bacf0d4f04f079c812c64e25555d5d:1039a827e061156f3adc5d02167ae618$</string>
            <key>textureFileName</key>
            <string>achieve.png</string>
        </dict>
    </dict>
</plist>
