<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_middle_long_red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>button_middle_long_red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,81}}</string>
                <key>sourceSize</key>
                <string>{192,81}</string>
            </dict>
            <key>generalpu_button_middle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>generalpu_button_middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,248},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>generalpu_button_middle_long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{407,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,80}}</string>
                <key>sourceSize</key>
                <string>{407,80}</string>
            </dict>
            <key>generalpu_button_middle_long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,166},{407,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,80}}</string>
                <key>sourceSize</key>
                <string>{407,80}</string>
            </dict>
            <key>middlebutton_label_playevent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,330},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_rewardswheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,330},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_tosummon.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,330},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_useitems_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_uselapis_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,384},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>middlebutton_label_watchvideo_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,384},{166,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>generalpu.png</string>
            <key>size</key>
            <string>{504,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817cfd790c00c51c99d67220d2e4bee8:cfcc805b6310e1db9d487fe2cd8c2a7e:d9751dba17663abc09f162f94358b748$</string>
            <key>textureFileName</key>
            <string>generalpu.png</string>
        </dict>
    </dict>
</plist>
