<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1910},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
            <key>bonus_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,677},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>bonus_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,784},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>explore_banner_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1572},{640,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,112}}</string>
                <key>sourceSize</key>
                <string>{640,112}</string>
            </dict>
            <key>explore_bn_lock_openlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1},{340,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,46}}</string>
                <key>sourceSize</key>
                <string>{340,46}</string>
            </dict>
            <key>explore_bonus_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1961},{424,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,24}}</string>
                <key>sourceSize</key>
                <string>{424,24}</string>
            </dict>
            <key>explore_bonus_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1107},{604,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,180}}</string>
                <key>sourceSize</key>
                <string>{604,180}</string>
            </dict>
            <key>explore_bonus_gaugebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1988},{424,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,24}}</string>
                <key>sourceSize</key>
                <string>{424,24}</string>
            </dict>
            <key>explore_bonus_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1916},{596,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,38}}</string>
                <key>sourceSize</key>
                <string>{596,38}</string>
            </dict>
            <key>explore_bonus_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1859},{554,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,54}}</string>
                <key>sourceSize</key>
                <string>{554,54}</string>
            </dict>
            <key>explore_bonus_value_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,93},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>explore_bonus_value_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,180},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>explore_bonus_value_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,267},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>explore_bonus_valuebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1290},{604,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,152}}</string>
                <key>sourceSize</key>
                <string>{604,152}</string>
            </dict>
            <key>explore_departbg_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,588},{640,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,516}}</string>
                <key>sourceSize</key>
                <string>{640,516}</string>
            </dict>
            <key>explore_departbg_under.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,584}}</string>
                <key>sourceSize</key>
                <string>{640,584}</string>
            </dict>
            <key>explore_mogballoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1734},{528,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,122}}</string>
                <key>sourceSize</key>
                <string>{528,122}</string>
            </dict>
            <key>explore_party.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,488},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>explore_place.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,551},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>explore_remainingtime_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1849},{422,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,58}}</string>
                <key>sourceSize</key>
                <string>{422,58}</string>
            </dict>
            <key>explore_result_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1910},{154,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,28}}</string>
                <key>sourceSize</key>
                <string>{154,28}</string>
            </dict>
            <key>explore_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,614},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>explore_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1734},{424,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,112}}</string>
                <key>sourceSize</key>
                <string>{424,112}</string>
            </dict>
            <key>explore_txt_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1687},{640,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,44}}</string>
                <key>sourceSize</key>
                <string>{640,44}</string>
            </dict>
            <key>explore_txt_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1445},{640,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,124}}</string>
                <key>sourceSize</key>
                <string>{640,124}</string>
            </dict>
            <key>explore_txt_exploring.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,354},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>explore_txt_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,421},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>exploring_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2015},{484,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,16}}</string>
                <key>sourceSize</key>
                <string>{484,16}</string>
            </dict>
            <key>exploring_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1957},{512,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,40}}</string>
                <key>sourceSize</key>
                <string>{512,40}</string>
            </dict>
            <key>exploring_gaugebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2000},{512,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,40}}</string>
                <key>sourceSize</key>
                <string>{512,40}</string>
            </dict>
            <key>largebutton_label_explore_departure.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,50},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>stop_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,891},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>stop_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,998},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explore.png</string>
            <key>size</key>
            <string>{1001,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dbe4cf3f7a4ad8df42b7a7b29bf7be1:fddc170ec5fb1676320c869a30d90619:d97f9d59fb27fde2bceebe7eb3271a7c$</string>
            <key>textureFileName</key>
            <string>explore.png</string>
        </dict>
    </dict>
</plist>
