<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lgb_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,126}</string>
                <key>spriteSourceSize</key>
                <string>{500,126}</string>
                <key>textureRect</key>
                <string>{{1422,817},{500,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,424}</string>
                <key>spriteSourceSize</key>
                <string>{640,424}</string>
                <key>textureRect</key>
                <string>{{2,510},{640,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itembg_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,424}</string>
                <key>spriteSourceSize</key>
                <string>{640,424}</string>
                <key>textureRect</key>
                <string>{{644,2},{640,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itembg_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,506}</string>
                <key>spriteSourceSize</key>
                <string>{640,506}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{2,936},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemframe_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{178,936},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemframe_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1280,817},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemframe_sp_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1622,945},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemframe_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,112}</string>
                <key>textureRect</key>
                <string>{{644,620},{640,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1422,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1472,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1522,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1572,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1764,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1764,1003},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_itemnum_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1814,945},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_moogle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{516,936},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_moogle_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{354,936},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_moogles_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,88}</string>
                <key>spriteSourceSize</key>
                <string>{640,88}</string>
                <key>textureRect</key>
                <string>{{1286,727},{640,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_nameplate_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{122,30}</string>
                <key>textureRect</key>
                <string>{{1176,1066},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_tapscreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,88}</string>
                <key>spriteSourceSize</key>
                <string>{528,88}</string>
                <key>textureRect</key>
                <string>{{646,1006},{528,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,312}</string>
                <key>spriteSourceSize</key>
                <string>{640,312}</string>
                <key>textureRect</key>
                <string>{{1286,2},{640,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_title_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,311}</string>
                <key>spriteSourceSize</key>
                <string>{640,311}</string>
                <key>textureRect</key>
                <string>{{1286,316},{640,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_title_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,190}</string>
                <key>spriteSourceSize</key>
                <string>{640,190}</string>
                <key>textureRect</key>
                <string>{{644,428},{640,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_total_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,204}</string>
                <key>spriteSourceSize</key>
                <string>{632,204}</string>
                <key>textureRect</key>
                <string>{{646,800},{632,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_total_window_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,64}</string>
                <key>spriteSourceSize</key>
                <string>{640,64}</string>
                <key>textureRect</key>
                <string>{{644,734},{640,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_total_window_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,96}</string>
                <key>spriteSourceSize</key>
                <string>{640,96}</string>
                <key>textureRect</key>
                <string>{{1286,629},{640,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lgb_txtbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,58}</string>
                <key>spriteSourceSize</key>
                <string>{418,58}</string>
                <key>textureRect</key>
                <string>{{1176,1006},{418,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginbonus.png</string>
            <key>size</key>
            <string>{1928,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f812a496f96e9beb557f3d3a2d363c55:7b74d0f5523020b6e9abb52150507d69:09d0d8083a11b6f8bb50e98d59c199d6$</string>
            <key>textureFileName</key>
            <string>loginbonus.png</string>
        </dict>
    </dict>
</plist>
