<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_treasure_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,401},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_treasure_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,460},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_treasure_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,511},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>middlebutton_label_battlestorysetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1049},{120,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>minibutton_label_repeatsetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,370},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>minibutton_label_repeatswitch.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1049},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>quest_base_rankingresult_dvs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,370},{352,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,32}}</string>
                <key>sourceSize</key>
                <string>{352,32}</string>
            </dict>
            <key>quest_base_rankingresult_dvsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,405},{352,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,32}}</string>
                <key>sourceSize</key>
                <string>{352,32}</string>
            </dict>
            <key>quest_base_rtg_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,295},{544,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,72}}</string>
                <key>sourceSize</key>
                <string>{544,72}</string>
            </dict>
            <key>quest_base_rtg_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,440},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,72}}</string>
                <key>sourceSize</key>
                <string>{320,72}</string>
            </dict>
            <key>quest_btn_ltg_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,665},{280,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,120}}</string>
                <key>sourceSize</key>
                <string>{280,120}</string>
            </dict>
            <key>quest_btn_ltg_start_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,826},{280,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,120}}</string>
                <key>sourceSize</key>
                <string>{280,120}</string>
            </dict>
            <key>quest_btn_ltg_start_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,949},{280,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,120}}</string>
                <key>sourceSize</key>
                <string>{280,120}</string>
            </dict>
            <key>quest_btn_ltg_start_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,943},{280,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,120}}</string>
                <key>sourceSize</key>
                <string>{280,120}</string>
            </dict>
            <key>quest_dotroad_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,295},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>quest_effect_ranking_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,902},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>quest_effect_ranking_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,757},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>quest_iconButton_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,969},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_mission_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,969},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_sealeddungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,969},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_sealeddungeon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,969},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_treasurebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,969},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_treasurebox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,961},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_treasurebox_comp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,404},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_iconButton_treasurebox_comp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,425},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_icon_lock_rtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,902},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quest_label_brilliant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,891},{104,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,36}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>quest_label_champion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,524},{128,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,36}</string>
            </dict>
            <key>quest_label_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,524},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>quest_label_fantastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,570},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>quest_label_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,602},{80,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,36}}</string>
                <key>sourceSize</key>
                <string>{80,36}</string>
            </dict>
            <key>quest_label_lock_rtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,532},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>quest_label_luckynumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,524},{176,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,36}}</string>
                <key>sourceSize</key>
                <string>{176,36}</string>
            </dict>
            <key>quest_label_marvelous.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,524},{128,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,36}</string>
            </dict>
            <key>quest_label_rtg_highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,370},{136,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,28}}</string>
                <key>sourceSize</key>
                <string>{136,28}</string>
            </dict>
            <key>quest_label_rtg_score_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,330},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>quest_label_top10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,563},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>quest_label_top100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,891},{112,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,36}}</string>
                <key>sourceSize</key>
                <string>{112,36}</string>
            </dict>
            <key>quest_moogle_rankup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,602},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>quest_moogle_rankup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,788},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>quest_num_repeatcount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,334},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>quest_raidorb10_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,902},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>quest_rakingresult_bahamut_dvs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,566},{520,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,480}}</string>
                <key>sourceSize</key>
                <string>{520,480}</string>
            </dict>
            <key>quest_rakingresult_bahamut_dvsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1},{520,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>quest_rakingresult_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,566},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>quest_rakingresult_logo_dvs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1},{616,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,144}}</string>
                <key>sourceSize</key>
                <string>{616,144}</string>
            </dict>
            <key>quest_rakingresult_logo_dvsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,148},{616,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,144}}</string>
                <key>sourceSize</key>
                <string>{616,144}</string>
            </dict>
            <key>quest_rakingresult_nailmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,563},{400,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,336}}</string>
                <key>sourceSize</key>
                <string>{400,336}</string>
            </dict>
            <key>quest_ranking_num_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,369},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>quest_ranking_num_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,295},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>quest_rtg_rank_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1049},{280,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,16}}</string>
                <key>sourceSize</key>
                <string>{280,16}</string>
            </dict>
            <key>quest_text_rank_bronz.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,969},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>quest_text_rank_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,515},{288,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,72}}</string>
                <key>sourceSize</key>
                <string>{288,72}</string>
            </dict>
            <key>quest_text_rank_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,590},{288,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,72}}</string>
                <key>sourceSize</key>
                <string>{288,72}</string>
            </dict>
            <key>quest_text_rank_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,676},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>quest_text_rank_platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,751},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>quest_text_rank_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,816},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>quest_unit_limit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1049},{240,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,24}}</string>
                <key>sourceSize</key>
                <string>{240,24}</string>
            </dict>
            <key>result_txt_attribute_attack_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,641},{216,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,32}}</string>
                <key>sourceSize</key>
                <string>{216,32}</string>
            </dict>
            <key>result_txt_stamina_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,567},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>unit_spotLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{430,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,562}}</string>
                <key>sourceSize</key>
                <string>{430,562}</string>
            </dict>
            <key>unit_spotLight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1},{430,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,562}}</string>
                <key>sourceSize</key>
                <string>{430,562}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest3.png</string>
            <key>size</key>
            <string>{2016,1074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cadde39171b85ca43a43dcd61748c205:976c94bdfb18e6b426e2429ba073a7d0:7a7e60a4d3f36e072726da13fbd4c076$</string>
            <key>textureFileName</key>
            <string>quest3.png</string>
        </dict>
    </dict>
</plist>
