<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,328}}</string>
                <key>sourceSize</key>
                <string>{640,328}</string>
            </dict>
            <key>item_category_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1},{58,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,18}}</string>
                <key>sourceSize</key>
                <string>{58,18}</string>
            </dict>
            <key>item_slot_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,425},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_slot_unset.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,547},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>largebutton_label_abilitycrystallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,107},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,661},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_label_equiplist.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,213},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_itemlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,319},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_materiallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_visioncardlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,331},{296,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,104}}</string>
                <key>sourceSize</key>
                <string>{296,104}</string>
            </dict>
            <key>largebutton_label_visioncardpowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{248,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,40}}</string>
                <key>sourceSize</key>
                <string>{248,40}</string>
            </dict>
            <key>largebutton_slim_label_abilitycrystallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,425},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_slim_label_craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_slim_label_equiplist.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,437},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_slim_label_itemlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,499},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_slim_label_materiallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_slim_label_visioncardlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,511},{296,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,72}}</string>
                <key>sourceSize</key>
                <string>{296,72}</string>
            </dict>
            <key>largebutton_square_icon_itemAability.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,573},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_itemCraft.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,573},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_itemEquip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,585},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_itemList.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,585},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_itemMaterial.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,585},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>largebutton_square_icon_itemVisionCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,585},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>minibutton_label_deckriset.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,669},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>minibutton_label_itemfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,695},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{1016,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:befec59dd0ab1a784a0e76c325bc91cd:3fad9f348a864b39c59f47f0fa904d7f:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
