<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cinema_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,432}}</string>
                <key>sourceSize</key>
                <string>{640,432}</string>
            </dict>
            <key>event_choices1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{232,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,144}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>event_choices2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,147},{232,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,144}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>event_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_fastbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_fastbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,165},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_icon_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,493},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>event_icon_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,539},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>event_optionbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,293},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>event_optionbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,375},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>event_pause-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,621},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>event_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,247},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_pausebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,637},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>event_pausebutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,293},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_pausebutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,329},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,375},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_playbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,411},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_playbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,457},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>event_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,457},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>event_skipbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,539},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>event_skipbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,575},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>talk_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>talk_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>event.png</string>
            <key>size</key>
            <string>{992,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1188930f657c2a5ce614b36b9e0c5c6e:0421ed8e319e876695883292da3e82e1:082b87ad6254d625a20b3a81fd2725a1$</string>
            <key>textureFileName</key>
            <string>event.png</string>
        </dict>
    </dict>
</plist>
